@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Raleway:ital,wght@0,400;1,100;1,300;1,400&display=swap");
/* ​@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Raleway:ital,wght@0,400;1,100;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

/* font-family: 'BenchNine', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Source Sans Pro', sans-serif;*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #c2bfbf;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 28px;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "BenchNine", sans-serif;
  color: white;
  padding-left: 10px;
  padding-top: 4px;
}

h2 {
  font-size: 65px;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "BenchNine", sans-serif;
  color: black;
  margin-bottom: 0px;
  
}
h3 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: black;
  margin-bottom: 0px;
}
h4 {
  font-size: 24px;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: black;
  padding-top: 13px;
  padding-left: 5px;
  margin-bottom: 0px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1450px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #017dfb;
  text-decoration: none;
}


/* Header Section */


header {
  background-color: gray;
  height: 1000px;
}

.logo {
  float: left;

}



.logo img,
h1 {
  display: inline-block;
}

.navbar {
  
  padding-left: 80px;
  padding-top: 35px;
}

.nav-item ul {
  float: right;
  
}

.nav-item ul li {
  display: inline;
}

.nav-item ul li a {
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
  border: 1px solid transparent;
  padding: 5px 20px;
  font-family: "Bebas Neue", cursive;
  transition: .5s;
}

ul li a:hover {
  border: 1px solid white;
  padding: 5px 20px;
}

.hero-image {
  text-align: center;
  padding-top: 275px;
}



/* Service Section */


.service-section {
  padding-bottom: 170px;
}

.service-heading {
  text-align: center;
  padding: 20px 300px;
  display: block;
}

hr.service-hr {
  border: 1px solid #dc4236;
  width: 130px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.navigationBlock {
  float: left;
  width: 18%;
  padding: 1px;
  padding-top: 10px;
}
.navigationBlock i{
    color: gray;
}

.navigationBlock:hover i{
  color: #dc4236;
}
.navigationBlock:hover h5{
  background-color: #dc4236;
  cursor: pointer;
}


.middleNavigation {
  text-align: center;
  padding-left: 10%;
  transition: .9s;
}

.services{
  background-color: gray;
  padding: 14px;
  color: white;
}
#web-dev{
  padding: 14px 0px;
}

.branding-section {
  padding-top: 15px;
  /* display: inline-block; */
}

.service-img {
  float: left;
  padding-top: 65px;
  padding-left: 10%;
}
.branding-para p {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 8px;
}
.branding-para {
  /* display: inline-block; */
}


.brand-heading h6 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 15px;
  display: block;
}

.stationery {
  position: relative;
  float: right;
  right: 10%;
  top: -180PX;
}


.brand-img-1 {
  display: inline-block;
}

.brand-quote span {
  font-size: 19px;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.brand-quote p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  padding-left: 20px;
  padding-right: 60px;
  margin-top: 5px;
  font-size: 15px;
}

.related-project button {
  width: 200px;
  margin-top: 55px;
  color: red;
  font-weight: bold;
  border: 1px solid #dc4236;
  cursor: pointer;
  padding: 14px;
  transition: .5s;
}

#order-now{
    background-color: #dc4236;
    color: white;
}
#order-now:hover{
    background-color: white;
    color: #dc4236;
}
#order-now i {
  float: right;
}

.related-project button:hover {
  background-color: #dc4236;
  color: white;
}

.brand-quote {
  display: inline-block;
  background-color: #f5f5f5;
  /* width: 590px; */
  width: 39%;
  margin-left: 10px;
  margin-top: 15px;
}

.cup-img img {
  float: right;
  margin-top: -240px;
}

.camera img {
  margin-top: -150px;
  float: left;
}

.hide-lg{
  margin-right:5%;
}

/* portfolio-section */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 180px;
  background-color: #e4e4e4;
}

.portfolio-heading {
  text-align: center;
  padding: 18px 280px;
  display: block;
}
.portfolio-heading > h2 {
  font-size: 42px;
  font-family: "Raleway", sans-serif;
  color: black;
}
.our-portfolio ul {
  text-align: center;
}
.our-portfolio ul li {
  display: inline;
  padding: 10px 26px;
  color: gray;
  font-weight: bold;
  border: 2px solid gray;
  margin: 10px;
  cursor: pointer;
  transition: .5s;
}
.our-portfolio ul li:hover {
  color: #dc4236;
  border-color: #dc4236;
}
.images {
  padding-top: 40px;
}
.portfolio-col1 {
  float: left;
  padding-left: 12%;
}

.portfolio-col1 {
  display: inline-block;
}
.images img:hover {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-45deg) saturate(700%) contrast(0.8);
  transition: .9s ease-out;
}

/* OverLay Start */

.img-1{
  position: relative;
}

.content{
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  color: white;
  font-weight: 500;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: .9s ;
  background: #e0564b ;
}

.img-1:hover .overlay{
  opacity: 90%;
}
.overlay i{
  position: absolute;
 top: 10%;
 left: 90%;
 color: white;
}

.overlay a{
  border: 1px solid white;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.portfolio-col1 img:hover{
  opacity: .4;
}




/* overLay Over */


.view-all {
  text-align: center;
  padding-top: 70px;
}
.view-all button {
  background-color: white;
  color: #dc4236;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #dc4236;
  padding: 12px;
  width: 160px;
  transition: .5s;
}
.view-all button:hover {
  background-color: #dc4236;
  color: white;
}

.iphone-img img {
  float: right;
  margin-top: -125px;
}

.copy-img img {
  margin-top: -50px;
  float: left;
}


/* Contact title */

.contactTittle {
  text-align: center;
  padding: 20px 280px;
  display: block;
}
.contactTittle {
  padding-top: 80px;
}
.contactTittle h2 {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: bold;
}
.contactTittle p {
  margin-top: 30px;
}




.CompanyImg {

  padding-left: 10%;
  margin-top: 25px;
  float:left;

}
.requiredservice {
display: inline-block;
padding-left: 50px;
}
.tittle h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 0px;
  display: inline-block;
}
.tittle h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0px;
  margin-top: -8px;
  color: #dc4236;
}

.tittle p {
  font-size: 17px;
  margin-bottom: 0px;
}
#p1 {
  font-weight: bold;
}
.tittle {
  width: 600px;
}

.contact-btn button {
  font-family: "Open Sans", sans-serif;
  color: #dc4236;
  background-color: #d7d7d7;
  font-weight: bold;
  border: 2px solid white;
  cursor: pointer;
  padding: 12px 16px 12px 12px;
  text-align: left;
  width: 180px;
  margin: 5px;
}
.contact-btn {
  padding-top: 60px;
}
.contact-btn i{
    color: gray;
    float: right;
}

.how-to-reach {
  padding-left: 10%;
  margin-top: 22px;
  float: left;
  padding-right: 30px;

}
.how-to-reach-tittle {
  width: 500px;
}
.how-to-reach-tittle h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 32px;
  display: inline-block;
}
.email img {
  float: left;
  margin-right: 30px;
}
.phone {
  margin-top: 20px;
  margin-bottom: 20px;
}
.phone img {
  float: left;
  margin-right: 30px;
}
.localtion img {
  float: left;
}
.location-img img {
  float: left;
  margin-right: 30px;
}
.contact p {
  margin: 0px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: gray;
}
.contact span,
a {
  color: #dc4236;
  font-size: 20px;
  font-weight: bold;
  font-family: "Bebas Neue";
}
.social-media ul li {
  display: inline;
  cursor: pointer;

}
.social-media ul {
  margin-right: 50px;
  padding-left: 0px;
}
.social-media {
  padding-top: 10px;
}
.social-media ul li:hover {
  opacity: 0.4;
}
#fb{
    color: white;
    background-color:#1852a9;
    width: 70px;
    height: 64px;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
}
#twitter{
    color: white;
    background-color: #26d3f9;
    width: 70px;
    display: inline-block;
    text-align: center;
    height: 64px;
    padding-top: 10px;
}
#pinterest{
    color: white;
    background-color: #fb4343;
    width: 70px;
    display: inline-block;
    text-align: center;
    height: 64px;
    padding-top: 10px;
}


#google{
    color: white;
    background-color:#2c3e50 ;
    width: 70px;
    display: inline-block;
    text-align: center;
    height: 64px;
    padding-top: 10px;
}
#vimeo{
    color: white;
    background-color: #33a9f0;
    width: 70px;
    display: inline-block;
    text-align: center;
    height: 64px;
    padding-top: 10px;
}
#wifi{
    color: white;
    background-color: #ff8a00;
    width: 70px;
    display: inline-block;
    text-align: center;
    height: 64px;
    padding-top: 10px;
}
#globle{
    color: white;
    background-color: #eb477c;
    width: 70px;
    display: inline-block;
    text-align: center;
    height: 64px;
    padding-top: 10px;
}
.contactform-container {
  margin-top: 20px;
  padding-bottom: 90px;
}
.contactform-container h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 32px;
  display: inline-block;
}
#name,
#email {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 10px;
  width: 570px;
  border: white;
  font-size: 20px;
  font-family: "BenchNine", sans-serif;
  box-shadow:  6px 6px 3px -2px #e4e4e4;
  
}

#message {
  width: 570px;
  margin: 10px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 90px;
  font-family: "BenchNine", sans-serif;
  box-shadow:  6px 6px 3px -2px #e4e4e4;
  border: white;
}

#submitbtn {
  background-color: #dc4236;
  color: white;
  font-size: 22px;
  font-weight: bold;
  width: 570px;
  height: 65px;
  letter-spacing: 3px;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  transition: .5s;
  border: transparent;
}
.input:focus{
  outline: none;
}
#submitbtn i {
  float: right;
  margin-top: 5px;
  padding-right: 16px;
  text-align: center;
}
#submitbtn:hover {
  background-color: #c2bfbf;
  color: #dc4236;
}



footer {
  background-color: #e2e2e2;
  color: #726a69;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
  font-size: 22px;
  font-family: "Bebas Neue", cursive;
}





/* 

Mobile: 360 x 640
Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080

@media (max-width : 1366px){
}


*/



/* Media Query */


/* 1368 */


@media (max-width : 1366px){
  
  /* 1365 */

  /* Header Section */

  header {
    height: 600px;
  }
  
  .navbar {
    padding-left: 20px;
    padding-top: 35px;
  }
  
  .nav-item ul {
    padding-top: 15px;
  
  }
  
  .nav-item ul li a {
    font-size: 20px;
    padding: 5px 10px;
  }
  .hero-image {
    padding-top: 150px;
  }

  
/* Service Section */



.service-section {
  padding-bottom: 150px;
}

.service-heading {
  padding: 20px 120px;
}

.navigationBlock {
  width: 20%;
}

.middleNavigation {
  padding-left: 0%;
}


.service-img {
  padding-left:2%;
  width: 42%;
}


.branding-section{
  padding-top: 50px;
  padding-left:0%;
}
.stationery {
  right: 10%;
}


.brand-quote {
  width: 40%;
  margin-top: 10%;
}

.brand-quote p {
  padding-right: 0px;
}

.brand-img-1 {
  display: inline-block;
}

.related-project{
  padding-left: 0%;
}


.cup-img img {
  margin-top: -240px;
}

.camera img {
  margin-top: -250px;
}





/* portfolio-section */

.portfolio-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.portfolio-heading {
  padding: 18px 50px;
}

.our-portfolio ul li {
  padding: 10px 18px;
  margin: 10px;
}

.portfolio-col1 {
  padding-left:15%;
}

.portfolio-col2{
  display: inline-block;
  padding-left:2%;
  padding-top:50px;

}

.portfolio-col2 div{
  display: inline-block;
  width: 32%;

}

  

.iphone-img img {
  margin-top: -230px;

}

.copy-img img {
  margin-top: -200px;
}





/* Contact title */

.contactTittle {
  text-align: center;
  padding: 20px 50px;
  display: block;
}
.contactTittle {
  padding-top: 80px;
}


.CompanyImg {
  padding-left:0%;
  width: 40%;
}

.requiredservice {
padding-left: 1%
}

.how-to-reach {
  padding-left: 01%;
  margin-top: 50px;

}

.contactform-container{
  padding-left: 0%;

}

#globle{
  display: none;
}


footer {
  padding-top: 50px;
  padding-bottom: 50px;
  
}

}


@media (max-width : 1024px){
  header {
    height: 600px;
  }
  
  
  /* Header Section */

  .navbar {
    padding-left: 20px;
    padding-top: 35px;
  }
  
  .nav-item ul {
    padding-top: 15px;
  
  }
  
  .nav-item ul li a {
    font-size: 20px;
    padding: 5px 10px;
  }
  .hero-image {
    padding-top: 170px;
  }
  .hero-image  img{
    width: 75%;
  }

  
/* Service Section */



.service-section {
  padding-bottom: 150px;
}

.service-heading {
  padding: 20px 120px;
}

.navigationBlock {
  width: 20%;
}

.middleNavigation {
  padding-left: 1%;
}


.service-img {
  padding-left:20%;
  width: 100%;
}

.branding-section{
  padding-top:150px;
  padding-left:15%;
  display: inline-block;
}
.stationery {
  right: 10%;
}

.brand-img-1{
  display: inline-block;
  padding-left: 0%;
}

.brand-quote {
  margin-top: 50px;
  width:75%;
}

.cup-img img {
  float: right;
  margin-top: -240px;
}

.camera img {
  margin-top: -250px;
  float: left;
}



/* portfolio-section */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 100px;
}

.portfolio-heading {
  padding: 18px 50px;
}

.our-portfolio ul li {
  padding: 10px 15px;
  margin: 2px;
}

.portfolio-col1 {
  padding-left:10%;
}
.portfolio-col2{
  padding-left: 30%;
  padding-top:70px;
  display: inline-block;
}

.portfolio-col2 div{
  display: inline-block;
  /* padding-left:2%; */
  width: 100%

}
.iphone-img img {
  float: right;
  margin-top: -230px;
}

.copy-img img {
  margin-top: -200px;
  float: left;
}





/* Contact title */

.contactTittle {
  text-align: center;
  padding: 20px 80px;
  display: block;
}
.contactTittle {
  padding-top: 80px;
}

.CompanyImg {

  padding-left: 20%;
  width: 100%;

}


.requiredservice {
  padding-left: 20%;
  }

.how-to-reach {
  padding-left: 20%;
  margin-top: 50px;
}


.contactform-container{
  padding-left: 20%;
  display: inline-block
}



footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

}





@media (max-width : 890px){
  header {
    height: 500px;
  }
  
  
  /* Header Section */

  
/* Service Section */




.service-heading {
  padding: 20px 40px;
}

.navigationBlock {
  width: 70%;
}

.middleNavigation {
  padding-left:20%;
}


.service-img {
  padding-left:20%;
}

.branding-section{
  padding-top:150px;
  padding-left:5%;
  display: inline-block;
}
.stationery {
  right: 12%;
}


.brand-quote {
  margin-top: 50px;
  width:75%;
}


.brand-img-1{
  display: inline-block;


}


.related-project{
  padding-left: px;
}


.cup-img img {
  float: right;
  margin-top: -240px;
}

.camera img {
  margin-top: -250px;
  float: left;
}



/* portfolio-section */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 100px;
}

.portfolio-heading {
  padding: 18px 50px;
}


.our-portfolio ul {
  text-align:center;
  padding-right: 40px;
}
.our-portfolio ul li {
  display: inline-block;
  margin: 15px;
  width: 40%;
}
.portfolio-col1 {
  padding-left:5%;
}

.img-45 img{
  display: inline-block;
  margin-top: 30px;
  width: 49%;
}
.portfolio-col2{
  padding-left: 30%;
  padding-top:70px;
  display: inline-block;
}




footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

}






@media (max-width : 768px){


  h1 {
    font-size: 28px;
    padding-left: 10px;
    padding-top: 4px;
  }
  
  h2 {
    font-size: 25px;
    margin-bottom: 0px;
    
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 24px;
    padding-top: 13px;
    padding-left: 5px;
    margin-bottom: 0px;
  }
  
  
  /*  */
  header {
    height: 500px;
  }
  

  .navbar {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  
  .nav-item ul li a {
    font-size: 16px;
    padding: 5px 5px;
  }
  
  
  .hero-image {
    text-align: center;
    padding-top: 200px;
  }
  .hero-image img{
    width: 50%;
  }
  
  
  /* Service Section */
  
  
  .service-section {
    padding-bottom: 120px;
  }
  
  .service-heading {
    text-align: center;
    padding: 20px 20px;
    display: block;
  }
  

  .middleNavigation {
    padding-left:30%;
  }

  .navigationBlock {
    float: left;
    width:55%;
    margin-top: 20px;
  }

  
  .service-img {
    padding-top: 200px;
    text-align: center;
  }

  
.branding-section{
  padding-top:100px;
  padding-left:0px;
  display: inline-block;
}
  .branding{
    padding-left:5%;
    padding-top: 30px;
  }
  .stationery {
    right:5%;

  }

  .brand-quote {
    margin-left: 2%;
    width: 72%;
  }
  

  .brand-img-1{
    display: inline-block;
  

  }
  
  
  .related-project{
    padding-left: 15px;
  }
  
  .related-project button {
    width: 170px;
  }
  

  
  .cup-img img {
    margin-top: -150px;
    width: 20%;
  }
  
  .camera img {
    margin-top: -150px;
    width: 25%;
  }
  
  /* portfolio-section */
  
  .portfolio-section {
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #e4e4e4;
  }
  
  .portfolio-heading {
    padding: 18px 30px;
  }
  .portfolio-heading > h2 {
    font-size: 30px;
  }
  .our-portfolio ul {
    text-align:center;
    padding-right: 40px;
  }
  .our-portfolio ul li {
    display: inline-block;
    margin: 15px;
    width: 40%;
  }
  .images {
    padding-top: 100px;
  }
  .portfolio-col1 {
    float: left;
    padding-left: 0px;
  }
  .img-45 img{
    display: inline-block;
    margin-top: 30px;
    width: 49%;
  }

  .images img{
    margin-top: 15px;
  }
  
.portfolio-col2{
  display: inline-block;
  padding-left: 15px;
  padding-top:50px;

}
.portfolio-col2 div{
  display: inline-block;
  width: 32%;
}
  
  /* OverLay Start */
  
  .img-1{
    position: relative;
    width: 98%;
  }
  
  .content{
    top: 70%;
    left: 30%;
    font-size: 16px;
  }
  
  .overlay i{
    left: 80%;
  }
  
  
  
  
  /* overLay Over */
  
  
  .view-all button {
    width: 30%;
  }
  
  .iphone-img img {
    width: 20%;
    margin-top: -120px;
  }

  .copy-img img {
    width: 20%;
    margin-top: -140px;
  }
  
  
  /* Contact title */
  
  .contactTittle {
    text-align: center;
    padding: 20px 20px;
    display: block;
  }
  .contactTittle {
    padding-top: 70px;
  }
  .contactTittle h2 {
    font-size: 25px;
  }
  .contactTittle p {
    margin-top: 30px;
  }
  
  
  
  
  .CompanyImg {
  
    padding-left: 0%;
  }

  .requiredservice {
  padding-left: 0px;
  }
  .tittle h3 {
    font-size: 25px;
  }
  
  .tittle {
    margin-top: 50px;
    width: 100%;
    padding-left: 15px;
  }
  .contact-btn button {
    width: 30%;
    display: inline-block;
    margin: 5px;
    padding-right: 0px;
  }
  .contact-btn i{
      padding-right: 5%;
  }
  
  .how-to-reach {
    padding-left: 20px;
    margin-top: 50px;
    width: 100%;
    padding-right: 15px;
  
  }
  .how-to-reach-tittle {
    width: 100%;
  }
  
  
  .contactform-container {
    margin-top: 20px;
    padding-bottom: 90px;
    padding-left: 5px;
    width: 100%;
  }
  
  #name,
  #email {
    width: 100%;
    margin: 0PX;
    
  }
  
  #message {
    width: 100%;
    margin: 0px;
  }
  
  #submitbtn {
    width: 100%;
    margin: 0px;
    
  }
  
  
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 20px;
  }
  
}



@media (max-width : 411px){


  h1 {
    font-size: 28px;
    padding-left: 10px;
    padding-top: 4px;
  }
  
  h2 {
    font-size: 25px;
    margin-bottom: 0px;
    
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 24px;
    padding-top: 13px;
    padding-left: 5px;
    margin-bottom: 0px;
  }
  
  
  /*Header Section  */

  header {
    background-color: #2c3e50;
    height: 300px;
  }
  

  .navbar {
    padding-left: 10px;
    padding-top: 5px;
  }
  
  .nav-item ul li a {
    font-size: 16px;
    padding: 5px 5px;
  }
  
  
  .hero-image {
    text-align: center;
    padding-top: 150px;
  }
  .hero-image img{
    width: 50%;
  }
  
  
  /* Service Section */
  
  
  .service-section {
    padding-bottom: 120px;
  }
  
  .service-heading {
    text-align: center;
    padding: 20px 15px;
    display: block;
  }
  

  .middleNavigation {
    padding-left: 0%;
  }

  .navigationBlock {
    float: left;
    width: 100%;
  }

  
  .service-img {
    padding-top: 50px;
    padding-left: 10px;
  }

  
.branding-section{
  padding-top:100px;
  padding-left:0px;
  display: inline-block;
}
  .branding{
    padding-left: 25px;
  }
  .stationery {
    right: 30%;
    top:20PX;
  }

  .brand-quote {
    width: 90%;
    margin-top: 15px;
  }
  
  .brand-quote p {
    padding-right: 0px;
  }

  .brand-img-1 {
    display: block;
  }
  .related-project h4 ,.brand-img-1{
    
    padding-left: 30px;
  }
  
  .related-project{
    padding-left: 5%;
  }
  
  .related-project button {
    width: 160px;
  }
  

  
  .cup-img img {
    margin-top: -120px;
    width: 25%;
  }
  
  .camera img {
    margin-top: -120px;
    width: 25%;
  }
  
  /* portfolio-section */
  
  .portfolio-section {
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: #e4e4e4;
  }
  
  .portfolio-heading {
    padding: 18px 15px;
  }
  .portfolio-heading > h2 {
    font-size: 25px;
  }
  .our-portfolio ul {
    text-align: center;
    padding-right: 0px;
  }
  .our-portfolio ul li {
    width: 60%;
    margin: 20px;
  }
  .images {
    padding-top: 100px;
  }
  .portfolio-col1 {
    float: left;
    padding-left: 15px;
  }
  
  .images img{
    margin-top: 15px;
  }
  
.portfolio-col2{
  padding-left: 15px;
  padding-top:10px;
}
  
  /* OverLay Start */
  
  .img-1{
    position: relative;
    width: 98%;
  }
  
  .content{
    top: 70%;
    left: 30%;
    font-size: 16px;
  }
  
  .overlay i{
    left: 80%;
  }
  
  
  
  
  /* overLay Over */
  
  
  .view-all button {
    width: 50%;
  }
  
  .iphone-img img {
    width: 25%;
    margin-top: -85px;
  }

  .copy-img img {
    width: 25%;
    margin-top: -50px;
  }
  
  
  /* Contact title */
  
  .contactTittle {
    text-align: center;
    padding: 20px 20px;
    display: block;
  }
  .contact-mainheading{
    padding-right: 80px;
  }
  .contactTittle {
    padding-top: 50px;
  }
  .contactTittle h2 {
    font-size: 25px;
  }
  .contactTittle p {
    margin-top: 30px;
  }
  
  
  
  
  .CompanyImg {
  
    padding-left: 0%;
  }

  .requiredservice {
  padding-left: 0px;
  }
  .tittle h3 {
    font-size: 25px;
  }
  
  .tittle {
    margin-top: 50px;
    width: 100%;
    padding-left: 15px;
  }
  .contact-btn button {
    width: 98%;
    display: block;
    margin: 5px;
    padding-right: 0px;
  }
  .contact-btn i{
      padding-right: 5%;
  }
  
  .how-to-reach {
    padding-left: 20px;
    margin-top: 50px;
    width: 100%;
    padding-right: 15px;
  
  }
  .how-to-reach-tittle {
    width: 100%;
  }
  
  
  .contactform-container {
    margin-top: 20px;
    padding-bottom: 90px;
    padding-left: 5px;
    width: 100%;
  }
  
  #name,
  #email {
    width: 100%;
    margin: 0PX;
    
  }
  
  #message {
    width: 100%;
    margin: 0px;
  }
  
  #submitbtn {
    width: 100%;
    margin: 0px;
  }
  
  
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 20px;
  }
  
}




/* For menu bar */




button{
  border:1px solid gray;
  background-color: transparent;
  display: inline-block;
  color: white;
  font-size: 25px;
}

.show{
  display: inline-block;
}
.right{
  float:right;
  margin-top: 20px;
}


@media only screen and (max-width: 861px) {
  .hide-lg{
    display:inline-block;
  }
 .nav-item ul{
    display: none;
  }
}

@media only screen and (min-width: 861px) {
  .hide-lg{
    display: none !important;
  }
  .nav-item>ul{
    display: block;
  }
  .nav-item>ul>li {
    /* bar layout */
    display: inline-block;
  }
  .nav-item>ul>li>a{
    display: block;
    width:100%;
    height: 100%;
  }
}


