                header {
                    background: url(/html/assets/images/header.png) no-repeat center center fixed;
                    background-size: cover;
                    height: 655px;
                    /* background-attachment: scroll; */
                }
                
                .navigation {
                    background-color: whitesmoke;
                    height: 50px;
                    padding-top: 5px;
                }
                
                .navigation ul {
                    margin-left: 30px;
                }
                
                .navigation ul li {
                    display: inline;
                    padding: 10px;
                    text-decoration: none;
                }
                
                .navigation ul li a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                }
                
                a.nav:hover,
                a:active {
                    color: #2e3192;
                }
                
                .navimage {
                    float: right;
                    margin-right: 100px;
                }
                
                .leftLogo p {
                    color: white;
                    font-size: 35px;
                    position: relative;
                    left: 80px;
                    bottom: 20px;
                }
                
                #searchbar {
                    float: right;
                    position: relative;
                    bottom: 90px;
                    right: 100px;
                    background: transparent;
                    border: solid white 1px;
                    width: 300px;
                    height: 30px;
                    opacity: 0.5;
                }
                
                #searchbar::placeholder {
                    color: white;
                }
                
                hr {
                    position: relative;
                    width: 1255px;
                    opacity: 0.3;
                    bottom: 70px;
                }
                
                .intro {
                    font-size: 35px;
                    color: white;
                    /* width: 200px; */
                    position: relative;
                    left: 80px;
                    top: 50px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                
                .button button {
                    background: #2e3192;
                    position: relative;
                    /* border-color: transparent; */
                    top: 70px;
                    left: 80px;
                    width: 150px;
                    height: 40px;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
                /* Service Section */
                
                * {
                    box-sizing: border-box;
                }
                
                .services {
                    float: left;
                    width: 25%;
                    padding: 15px;
                    height: 200px;
                    /* margin-left: 30px; */
                }
                
                .containers:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                
                .services h5 {
                    color: #2e3192;
                    font-weight: bold;
                    font-size: 20px;
                }
                
                .services p {
                    color: slategrey;
                    width: 200px;
                    margin-top: -25px;
                }
                
                .container-service {
                    margin-left: 40PX;
                }
                
                * {
                    box-sizing: border-box;
                }
                
                .services-img1 {
                    float: left;
                    width: 50%;
                    padding: 5px;
                    height: 700px;
                }
                
                .services-img::after {
                    content: "";
                    clear: both;
                    display: table;
                }
                
                .img1 div {
                    display: inline;
                }
                
                .accessories {
                    margin-left: 50px;
                }
                
                .footwear img {
                    margin-top: 30px;
                }
                
                .service-btn button {
                    background: #fcf7f5;
                    /* background: transparent; */
                    border-color: transparent;
                    border-radius: 2px;
                    opacity: 0.8;
                    height: 40px;
                    color: black;
                    font-weight: bold;
                }
                
                #accessories-btn {
                    margin-left: 100px;
                    margin-top: -650px;
                }
                
                #drinks-btn {
                    margin-left: 650px;
                    margin-top: -40PX;
                }
                
                #electronics-btn {
                    margin-left: 910px;
                    margin-top: -40px;
                }
                
                #footwear-btn {
                    margin-right: 490px;
                    float: right;
                    margin-top: -290px;
                }
                /* Tranding Items╟ */
                
                .trending-item img:hover {
                    opacity: .3;
                }
                
                .tranding-hr {
                    margin-top: 150px;
                }
                
                .trending-quote p {
                    margin-top: -100px;
                    text-align: center;
                    font-size: 18px;
                    color: black;
                    font-family: serif;
                    text-transform: uppercase;
                }
                
                .trending-1 {
                    margin-left: 60px;
                }
                
                * {
                    box-sizing: border-box;
                }
                
                .trending-row1 {
                    float: left;
                    width: 25%;
                    margin-top: 30px;
                }
                
                .trending-1::after {
                    content: "";
                    clear: both;
                    display: table;
                }
                
                .trending-2 {
                    margin-left: 60px;
                }
                
                * {
                    box-sizing: border-box;
                }
                
                .trending-row2 {
                    float: left;
                    width: 25%;
                    margin-top: 30px;
                }
                
                .trending-2::after {
                    content: "";
                    clear: both;
                    display: table;
                }
                
                .price h5 {
                    color: red;
                    margin-left: 200px;
                    margin-top: -60px;
                }
                /* Blog Section */
                
                .blog-hr {
                    margin-top: 150px;
                }
                
                .blog-quote p {
                    margin-top: -100px;
                    text-align: center;
                    font-size: 18px;
                    color: black;
                    font-family: serif;
                    text-transform: uppercase;
                    margin-bottom: 100px;
                }
                
                * {
                    box-sizing: border-box;
                }
                
                .row1 {
                    float: left;
                    width: 20%;
                    padding: 10px;
                    margin: 10px;
                    margin-left: 50px;
                }
                
                .blog-row1::after {
                    content: "";
                    clear: both;
                    display: table;
                }
                
                .row2 {
                    float: left;
                    width: 20%;
                    padding: 10px;
                    margin: 10px;
                    margin-left: 50px;
                }
                
                .blog-row2::after {
                    content: "";
                    clear: both;
                    display: table;
                }
                /*                 
                .blog-row1 {
                    display: flex;
                }
                
                .blog-row1 div {
                    width: 25%;
                }
                 */
                
                .row1 p {
                    font-size: 14px;
                    margin-top: -10px;
                }
                
                .row2 p {
                    font-size: 14px;
                    margin-top: -10px;
                }
                
                .row2 b,
                .row1 b {
                    color: #2e3192;
                }
                /* SUBSCRIBE */
                
                .subscribe-now {
                    margin-top: 120px;
                    text-align: center;
                    height: 300px;
                    background-color: #eeefff;
                    font-size: 22px;
                    font-family: serif;
                    padding-top: 60px;
                }
                
                .subscribe-now button {
                    background: #2e3192;
                    width: 120px;
                    height: 40px;
                    color: white;
                    cursor: pointer;
                }
                
                #email {
                    position: relative;
                    background: white;
                    border: solid white 1px;
                    width: 300px;
                    height: 40px;
                }
                /* Contact Detail's */
                
                .contact-deatil {
                    margin-top: 50px;
                }
                
                * {
                    box-sizing: border-box;
                }
                
                .contact {
                    float: left;
                    width: 20%;
                    margin-left: 40px;
                    /* text-align: center; */
                }
                
                .contact-deatil::after {
                    content: "";
                    clear: both;
                    display: table;
                }
                /* Footer Section*/
                
                .footerhr hr {
                    margin-top: 100px;
                }
                
                footer {
                    height: 100px;
                    text-align: center;
                }