header {
    background: url(/html/assets/images/BG-image-header.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: auto;
}

.Atis-logo img {
    margin-top: 40px;
    margin-left: 40px;
}

.uper-nav ul {
    margin-left: 500px;
    margin-top: -30px;
}

.uper-nav ul li {
    display: inline;
    padding: 10px;
}

.uper-nav ul li a {
    text-decoration: none;
    font-family: serif;
    color: #aeb5c5;
    font-weight: bold;
}

.uper-nav a:hover {
    color: #017dfb;
}

.button {
    background: white;
    color: #017dfb;
    border: transparent;
    border-radius: 30px;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(183, 192, 201, 0.377);
}

.center-logo {
    text-align: center;
    margin-top: 40px;
    margin-top: 120px;
    margin-left: 20px;
}

.greece-logo img {
    margin-top: 0px;
    width: 300px;
}

h3 {
    color: #017dfb;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 10px;
}


/* Bottum-Navbar */

.bottum-navigation {
    background-color: #017dfb;
    height: 100px;
    margin-top: 205px;
    width: 1218px;
    margin-left: 19px;
}

.bottum-navigation ul {
    margin-left: 10px;
    position: relative;
    top: 40px;
}

.bottum-navigation ul li {
    display: inline;
    padding: 15px;
}

#search {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: transparent;
    background-color: white;
}

input {
    width: 120px;
    background-color: #017dfb;
    border: transparent;
    color: white;
    font-weight: bold;
}


/* Popular Places */

h4 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
    color: #aeb5c5;
    font-family: serif;
}

* {
    box-sizing: border-box;
}

.col1 {
    float: left;
    width: 33.33%;
    margin-top: 30px;
}

.row1::after {
    content: "";
    clear: both;
    display: table;
}

.row1 {
    margin-left: 20px;
}

#col1-img1,
#col1-img2 {
    margin-left: 20px;
}

#col1-img2,
#col3-img {
    margin-top: 25px;
}

* {
    box-sizing: border-box;
}

.col1-row2 {
    float: left;
    width: 50%;
    margin-top: 20px;
}

.row2::after {
    content: "";
    clear: both;
    display: table;
}

.row2 {
    margin-left: 40px;
}

.popular-place img:hover {
    opacity: 0.5;
}


/* FOR RATING BAR */

div.stars {
    width: 180px;
    display: inline-block;
    margin-top: -00px;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: green;
    /* text-shadow: 0 0 20px #952; */
}

input.star-1:checked~label.star:before {
    color: red;
}

label.star:hover {
    /* transform: rotate(-15deg) scale(1.3); */
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

.stars {
    position: relative;
    bottom: 40px;
}


/* END RATING BAR */

.popular-hotels {
    margin-top: 80px;
}

.hotels-col1 img {
    width: 250px;
    height: 250px;
}

.hotels-col1 b {
    color: #aeb5c5;
    margin-left: 10PX;
    margin-top: -200px;
}

.price h5 {
    color: #aeb5c5;
    margin-top: -20px;
    margin-left: 190px;
}

.hotels-row1 .hotels-col1 {
    float: left;
}

.hotels-col1 {
    margin: 20px;
}

.hotels-row1 {
    margin-left: 50px;
}

.rating img {
    width: 100px;
    height: 20px;
    margin-top: -50px;
}


/* ROW2 */

.hotels-row2 {
    margin-top: 50px;
}

.hotels-col2 img {
    width: 250px;
    height: 250px;
}

.hotels-col2 b {
    color: #aeb5c5;
    margin-left: 10PX;
    margin-top: -200px;
}

.hotels-row2 .hotels-col2 {
    float: left;
}

.hotels-col2 {
    margin: 20px;
}

.hotels-row2 {
    margin-left: 50px;
}

.rating img {
    position: relative;
    width: 100px;
    height: 20px;
    top: -30px;
    left: 10PX;
}

.price button {
    position: relative;
    top: -60px;
    margin-left: 80px;
}

#last-col {
    margin-top: -377px;
}

.slider button {
    color: #444;
    margin-left: 230px;
    border: 1px solid #aeb5c5;
}

.slider img {
    margin-top: 80px;
    width: 100%;
    background-size: cover;
    height: 500px;
    margin-bottom: 60PX;
}

.slider p {
    width: 480px;
    margin-left: 370px;
    margin-top: -40px;
    color: white;
    text-align: center;
}

.slider h5 {
    margin-top: -430px;
    text-align: center;
    font-size: 40px;
    color: white;
}

footer {
    margin-top: 220px;
    text-align: center;
}