@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');​
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap'); */


*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #697899;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.container,
.wrapper {
    max-width: 1230px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    float: none;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

a {
    color: #017dfb;
    text-decoration: none;
}

*{
    box-sizing: border-box;
}
/* Header Section */

header {
    background: url(/html/assets/images/bg.png);
    height: auto;
}

.navbar div {
    display: inline-block;
    margin: 50px 50px 10px 50px;
}

.nav-contact img,
p {
    display: inline;
}
.navbar img img{
    margin-right: 0px;
}
.navbar p{
    margin-left: 0px;
    font-family: 'Alfa Slab One', cursive;
    font-weight: lighter;
    font-size: 13px;
    margin-right: 10px;
}

.nav-contact {
    float: right;
    color: #3d2514;
    font-family: 'Bebas Neue', Regular;
}

.nav-contact a {
    color: #3d2514;
}

.nav-item ul {
    float: right;
    margin-right: 50px;
    margin-top: -20px;
}

.nav-item ul li {
    display: inline-block;
    margin: 10px;
    font-size: 22px;
    color: #3d2514;
    letter-spacing: 2px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'Dancing Script', cursive; */
}
.nav-item ul li:hover{
    color: white;
}
.sub-title{
    width: 500px;

            
}
.sub-title h6 {
    margin-left: 50px;
    border-width: 2px;  
    border-style:dashed;
    width: 380px;
    text-align: center;
     margin-top: 100px;
    margin-bottom: 0px;
    font-size: 14px;
}
.title {
    margin-left: 50px;
    width: 600px;  
    display: block;
}
.title h1{
    
    color: #3d2514;
    font-size: 100px;
    margin-top: -15px;
    margin-bottom: 0px;
    letter-spacing: 5px;
    font-family: 'Alfa Slab One', cursive;
}
h1,h2{
    text-shadow: 2px 2px white;
  }
.title h2{

    color: #3d2514;
    font-size: 50px;
    margin-top: -30px;
    margin-bottom: 0px;
    width: 500px;
    margin-left: 10px;
    letter-spacing: 5px;
    font-family: 'Alfa Slab One', cursive;
}


.head-burger::after {
    content: "";
    clear: both;
    display: table;
}

.class1{
    float: left;
    width: 50%;
}
.price img{
    width: 120px;
    height: 120px;
    margin-top: -250px;
    margin-left: 25px;
}

/* Service Sectuion */

.services{
    margin-top: 50px;
}

.service-img::after{
    content: "";
    clear: both;
    display: table;
 

}


.service-img-col1{
    float: left;
    width: 50%;
}
.service-img-col1 img{
    width: 540px;
    margin-left: 30px;
}
#col1-img {
    margin-left: 70px;
}
.service-img-col2 img{
    margin-top: 30px;
}

.service-sub-heading {
    margin-top: 60px;
    width: 100%;
    text-align: center;
}
 
.service-sub-heading p{
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    background-color: #ffc045;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
   
}
.service-sub-heading h2{
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-size: 40px;
    margin-top: 5px;
    letter-spacing: 3px;

}
#service-para{
    text-align: center;
    color: black;  
    width: 70%;
    margin-left: 170px;    
}

#service-para p{
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
}

/*  TYPE OF BURGER */

.burger-type::after{
    content: "";
    clear: left;
    display: table;
}
.type-row1{
    float: left;
    width: 33.33%;
}
.burger-type{
    
    margin-top: 40px;
    text-align: center;
    padding: 50px;
    margin-left:50px;
 
}
.burger-type img:hover{
   opacity: .5;
}
.type-row1 h6{
    font-size: 16px;
    color: #3d2514;
    font-family: 'Bebas Neue', cursive;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22PX;
}
.type-row1 p{
    font-size: 14px;
    color: black;
    font-family: 'Montserrat', sans-serif
   
    
}
.type-row1 button{
    text-align: center;
    height: 35px;
    width: 150px;
    border: none;
    background-color:#bf2222;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    
}
button:hover{
    opacity: .4;
}
.col-btm{
    width: 300px;
    margin-left: 20px

}

.upcoming-events{
    margin: 50px;
    /* border: 1px solid; */
    padding: 10px;
    padding-bottom: 40px;
    box-shadow:20px 40px 30px 15px #e6e6e6;  
  
}
.upcoming-events::after{
    content: "";
    clear: both;
    display: table;
}

.upcoming-content{
    float: left;
    width: 45%;
    padding: 20px;

}
.upcoming-content span{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: black;
}
.upcoming-content h2{
    margin-top: 0px;
    /* margin-bottom: 40px; */
    font-family: 'Alfa Slab One', cursive;
    font-size:34px;
    letter-spacing: 3px;
    
}
.upcoming-content p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-left: 0px;
    
}
#circle{
    margin-top: 100px;
    margin-right: 50px;

}



.reservation-head h6{
    margin: 0px;
    width: 300px; 
    margin-left: 160px;
    font-size: 30px;
    color: #3d2514;
    font-family: 'Bebas Neue', cursive;
}
.reservation-head h2{
    margin: 0px;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 3px;
    font-size: 40px;
}
.head1{
    margin: 0px;
    width: 300px;
}
.head2{ 
    width: 800px;
    margin: 0px;
    float: right;
    margin-top: 80px;
    margin-left: 10px;

}
.reservation-head div{
display: inline;
height: 320;
}

input{
    width: 280px;
    height: 40px;
    color: gray;
    font-weight: bold;
    margin: 10px;
    border: 1px solid black;
    font-family: 'Bebas Neue', cursive;
    padding-left: 10px;

}
.input button{
    
    text-align: center;
    height: 45px;
    width: 295px;
    border: none;
    background-color:#bf2222;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-left: 10px;

}
.mix-img img{
    float: right;
}
table{
    margin-left: 350px;
    
    
}
.bottle img{
    float: left;
    margin-left: 50px;
    margin-top: -120px;
}
footer{
    background: url(/html/assets/images/footer-bg.png);
    background-repeat: no-repeat;
    height: 500px;
    margin: 55px;
    margin-top: 250px;
    
}
.footer-logo img{
    margin-top: 70px;
    margin-left: 40px;
    width: 300px;
}
.contact{
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    

}
.contact div{
    margin: 10px;
}
.footer-content{
    width: 500px;
    margin-left: 40px;
    margin-top: 40px;
}
.footer-content p{
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: serif;
}
.email a{
    color: white;
    margin: 10px;
    font-family: 'Bebas Neue', cursive;
}
.location p{
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.social-img img,b{
    display: inline;
    margin: 30px;
    margin-top: 150px;
}
.social-img img{
    float: right;
 
}
.social-img b{
    color: white;
    font-family: 'Montserrat', sans-serif;
  float: left;  
} 



/* New Css */