@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #c2bfbf;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1170px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #017dfb;
  text-decoration: none;
}

h3 {
  font-size: 42px;
  color: #726bb1;
  font-family: "Poppins", sans-serif;
}


/* Uper Section Start here */

.uper-section {
  /* background: url(/html/assets/images/BG-header.png); */
  background: linear-gradient(to right, #d1d0eecc, #d1d0eecc),
    url(../assets/images/BG-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
}
.banner{
  position: relative;
}
.top-head {
  height: 150px;
  padding-top: 35px;
  padding-bottom: 54px;
  font-size: 24px;
}
.top-head h2,
a {
  color: black;
}
.heading {
  float: left;
  cursor: pointer;
}

.nav-icon {
  float: right;
  border: 1px solid white;
  padding: 0px 5px;
}
.slider-img {
  padding-left: 22%;
}

.overlay-content h1 {
  position: absolute;
  top: 2%;
  left:45%;
  font-size: 505px;
  color: #545454;
  font-family: "Poppins", sans-serif;
  opacity: 0.2;
  overflow: hidden;
  width: 850px;
}

.overlay-content h4 {
  font-size: 36px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.overlay-content h3 {
  font-size: 72px;
  font-family: "Poppins";
  line-height: 90px;
  letter-spacing: 2px;
  color: #726bb1;
}
.content p {
  width: 700px;
  font-size: 21px;
}

.content {
  position: absolute;
  top: 21%;
  left: 0%;
  font-weight: 500;
  width: 620px;
  height: 620px;
  color: black;
  border: 12px solid white;
}
.content-1 {
  position: absolute;
  left: 18%;
  top: 11%;
}

.dwnld-btn button {
  border: transparent;
  background: transparent;
  margin-top: 57px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.dwnld-btn button:hover {
  color: #7769f1;
  transition: 0.6s ease-out;
}
#dwnld-white-box {
  /* position: absolute; */
  border: 2px solid white;
  width: 40px;
  height: 40px;
  background-color: white;
  margin-top: -38px;
  margin-left: 70px;
  z-index: -1;
}


/* Second Section Start */

.about-us {
  padding-top: 105px;
  padding-bottom: 700px;
}
.about-us-main{
  position: relative;
}

.about-us-left {
  width: 37%;
  padding-left: 10px;
  position: absolute;
  top: 20px;
  left: 18%;
  
}

.about-us-right {
  position: absolute;
  right: -10%;
  width: 55%;
  padding-left: 2%;
  top: -190px;
  
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.evana-rotate h1 {
  font-size: 136px;
  font-family: "Poppins", sans-serif;
  color: #726bb1;;
}

.web-look h2 {
  font-size: 60px;
  font-weight: 700;
  color: #222222;
  line-height: 70px;
  padding-bottom: 40px;
}

.web-look span {
  font-size: 21px;
  font-weight: bold;
  color: #222222;
  font-family: "Roboto";
}

.evana-rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: absolute;
  /* z-index: 9999; */
  left: -10%;
  top: 165px;
  padding-right: 20px;
}
.rotate-e h2 {
  -webkit-transform: rotate(-180deg);
  position: relative;
  font-size: 600px;
  font-family: "Poppins", sans-serif;
  color: #726bb1;
  opacity: 0.2;
  top: 0px;
}

.read-more-btn button {
  border: transparent;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.read-more-btn button:hover {
  color: #7769f1;
  transition: 0.6s ease-out;
}
#read-more-blue {
  border: 2px solid #cfccff;
  width: 40px;
  height: 40px;
  background-color: #cfccff;
  margin-top: -38px;
  margin-left: 75px;
}

.read-more-btn {
  position: relative;
  top: 122px;
  left: 305px;
}


/* Why We Best */


.why-we-best {
  background-color: #f5f9fd;
  padding-top: 50px;
}
.why-we-best-left {
  width: 670px;
  float: left;
  padding-right: 140px;
}
.why-best-span {
  font-size: 21px;
  font-weight: bold;
  padding-top: 40px;
  color: #555555;
}
.why-we-best-right {
  width: 430px;
  padding-top: 30px;
  float: left;
}
.technologies div {
  position: relative;
  display: inline;
}

.technologies i {
  text-shadow: -13px -18px 9px white;
}

.technologies p {
  font-size: 18px;
  color: #555555;
}
.technologies b {
  position: relative;
  left: -50px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #222222;
}
.heading-tech {
  position: absolute;
  left: 75px;
  top: -40px;
}
.why-best-img {
  position: relative;
  bottom: -60px;
  cursor: pointer;
}

.why-we-best img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}


/* Amazing Product */

.product {
  padding-top: 150px;
  padding-bottom: 120px;
}
.product-heading h2 {
  font-size: 48px;
  color: #726bb1;
  font-family: "Poppins", sans-serif;
  line-height: 55px;
}
.product-left {
  width: 600px;
}
.product-description p {
  color: #555555;
  font-size: 18px;
}

.product-span {
  color: #555555;
  font-size: 21px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
}
.product-description {
  padding-bottom: 50px;
  padding-left: 10px;
}

.product-left {
  float: left;
  padding-right: 40px;
}
.product-img1 {
  padding-top: 40px;
}

.product-img2 {
  padding-top: 40px;
}
.product-right {
  padding-top: 125px;
}
.product-img4 {
  padding-top: 40px;
}

.product img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.product img:hover {
  opacity: 0.6;
  transition: 0.4s ease-in-out;
}
.all-project-btn button {
  border: transparent;
  background: transparent;
  margin-top: 60px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 400px;
  margin-top: 280px;
}
.all-project-btn i {
  color: black;
  border: 1px solid black;
  padding: 9px;
}
.all-project-btn button:hover {
  color: #7769f1;
  transition: 0.6s ease-out;
}


/* Bottum Banner */

.banner-bottum {
  
  background: linear-gradient(to right, #9494f35e, #acacf04b),
    url(../assets/images/product-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.banner-main-bottum{
  position: relative;
  height: auto;
}

.banner-overlay-content h1 {
  position: absolute;
  top: 0%;
  left: 0%;
  padding-left: 15px;
  font-size: 370px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  opacity: 0.2;
  width: 100%;
  overflow: hidden;
}
.banner-content {
  position: absolute;
  width: 38%;
  top:200px;
  right: 0%;
  text-align: right;
}
.banner-content h4 {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  color: white;
  line-height: 75px;
}
.banner-content p {
  font-size: 21px;
  color: white;
  font-weight: bold;
}

#blue-box {
  position: absolute;
  height: 350px;
  width: 20%;
  background-color: #bcb5f5;
  top: 70px;
  left: 30%;
  opacity: 0.4;
}

.play-video-btn button {
  border: transparent;
  background: transparent;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.play-video-btn button:hover {
  color: #7769f1;
  transition: 0.6s ease-out;
}
.play-video-btn i {
  color: white;
  cursor: pointer;
}

#play-video-box {
  border: 2px solid #cfccff;
  width: 40px;
  height: 40px;
  background-color: #cfccff;
  margin-top: -38px;
  margin-left: 92%;
}

/* Service Section */

.services {
  padding-top: 60px;
}
.heading-service {
  text-align: center;
  padding-bottom: 40px;
}
.service-span {
  font-size: 21px;
  font-weight: bold;
  color: #555555;
  padding-left: 26%;
  padding-right: 26%;
  padding-top: 30px;
}
.service-container{
  padding-left: 10%;
}

.services-col1 {
  float: left;
  width: 400px;
  margin: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
hr.hr-line {
  border: 1px solid #a399fa;
}

h6 {
  font-size: 21px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}
.col-services p {
  font-size: 18px;
  color: #222222;
}
.col-services {
  position: relative;
  left: 60px;
  top: -50px;
}
.col1 {
  padding: 50px;
  padding-bottom: 10px;
}

.more-btn button {
  border: transparent;
  background: transparent;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.more-btn button:hover {
  color: #7769f1;
  transition: 0.6s ease-out;
}

.more-btn i {
  color: black;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.changing-moment {
  padding-top: 45px;
  padding-bottom: 45px;
}

.moment-heading h4 {
  font-size: 48px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  line-height: 60px;
}

.moment-span {
  font-size: 21px;
  font-weight: bold;
  color: #555555;
  padding-bottom: 20px;
}

.moment-para p {
  font-size: 18px;
  color: #222222;
}

.moment-main{
  
  position: relative;
  background-color: blue;
  
}
.moment-content {
  float: left;
  padding-top: 180px;
  

}

.moment-para {
  width: 400px;
  padding-top: 50px;
}

.moment-img {
  position: absolute;
  right: -17%;
  background: url(/html/assets/images/pic-flower.png);
  background-image: linear-gradient(to right, #cdcaf148, #dad7fd48),
    url(../assets/images/pic-flower.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 78%;
  height: 505px;
  z-index: -1;
}

.readMore-btn button {
  position: relative;
  border: transparent;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  top: 660px;
}
.readMore-btn button:hover {
  color: #7769f1;
  transition: 0.6s ease-out;
}
#readMore-blue {
  border: 2px solid #cfccff;
  width: 40px;
  height: 40px;
  background-color: #cfccff;
  margin-top: -40px;
  margin-left: 70px;
}

/* OUR TEAM SECTION */

.our-team {
  padding-top: 50px;
  padding-bottom: 220px; 
}

.team-heading {
  text-align: center;
}

.team-span {
  font-size: 21px;
  font-weight: bold;
  color: #555555;
  padding-top: 35px;
  padding-bottom: 54px;
}

.team-intro {
  float: left;
  position: relative;
  padding: 15px;
  width: 25%;
}

.team-pic {
  float: left;
}
.team-bottum {
  position: relative;
  top: 240px;
}

.team-name-upr {
  -webkit-transform: rotate(-90deg);
  position: relative;
  left: 10px;
  top: -180px;
}
.team-name {
  -webkit-transform: rotate(-90deg);
  position: relative;
  right: 340px;
  top: 10px;
}
.our-team p {
  margin: 0px;
}

/* QUOTE SECTION */
.quotes-section {
  background-color: #f5f9fd;
  padding-bottom: 170px;
}
.quote-img {
  padding-top: 90px;
  text-align: center;
}


.quote-heading {
  font-size: 36px;
  color: #222222;
  font-family: "Poppins";
  padding-top: 60px;
  padding-bottom: 48px;
}
.left-arrow {
  float: left;
  padding-left: 60px;
}
.right-arrow {
  float: right;
  padding-right: 60px;
}
.arrow a {
  color: #cccccc;
}
.arrow :hover {
  color: #555555;
}

.quote-para {
  text-align: center;
  font-size: 21px;
  font-style: italic;
  color: #555555;
  padding-right: 18%;
  padding-left: 16%;
}

.photographer-img {
  float: left;
  padding-right: 25px;
}
.photographer-img img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.photographer-intro {
  position: relative;
  left: 45%;
  top: 50px;
  width: 500px;
}
.photographer-name p {
  margin: 0px;
}

.subscribe-section {
  padding-top: 50px;
  text-align: center;
}

.subscribe-heading {
  font-size: 32px;
  color: #222222;
  font-family: "Poppins";
  padding-top: 0px;
}

.subscribe-para {
  text-align: center;
  font-size: 18px;
  color: #555555;
  padding-left: 20%;
  padding-right: 20%;
}

.subscribe-input {
  padding-bottom: 50px;
  padding-top: 25px;
}
.subscribe-input input {
  font-size: 18px;
  border: hidden;
  width: 550px;
  height: 60px;
  outline: none;
}

.subscribe-input button {
  background-color: #cfccff;
  width: 200px;
  height: 60px;
  border: transparent;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.subscribe-input button:hover {
  background-color: #7769f1;
  transition: 0.4s ease-out;
}

/* latest news */

.latest-heading {
  padding-top: 10px;
  text-align: center;
}

.latest-span {
  padding-top: 40px;
  padding-bottom: 65px;
  font-size: 21px;
  font-weight: bold;
  color: #555555;
}
.latest-pic-row span {
  font-size: 21px;
  font-weight: bold;
  color: #555555;
}

.latest-pic-row {
  padding-left: 10px;
  padding-bottom: 80px;
}

.latest-col {
  float: left;
  width: 30%;
  margin: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.about-latest {
  margin-top: 20px;
}
.date {
  margin-top: 15px;
}
.read-latest-btn button {
  float: right;
  margin-top: 15px;

  border: transparent;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.read-latest-btn button:hover {
  color: #726bb1;
  transition: 0.6s ease-out;
}

/* About US */

.about-us-row {
  padding-top: 70px;
  /* padding-left: 370px; */
  padding-bottom: 20px;
  background-color: #f5f9fd;
}

.about-col {
  float: left;
  width: 420px;
  padding-right: 65px;
}
.about-col1 {
  float: left;
  padding: 2px;
  width: 20%;
}

.about-col2 {
  padding-top: 20px;
}

.evana-about {
  color: #7769f1;
  font-size: 32px;
}

.about-us-row p {
  color: #545454;
  font-size: 18px;
}
.about-col2 b {
  color: #222222;
  font-size: 18px;
}

.pic-row1 {
  padding-top: 25px;
}
.social-link i {
  padding: 10px;
}
#fb {
  color: blue;
}

#tw {
  color: #1da1f2;
}
#ln {
  color: #0e768a;
}
#google {
  color: rgb(180, 43, 43);
}
footer {
  padding-top: 50px;
  /* padding-left: 380px; */
  color: #555555;
}

footer b {
  color: #222222;
}





/* Media Query */


@media (max-width : 1366px){
 

.top-head {
  height: 150px;
  padding-top: 35px;
  padding-bottom: 54px;
  font-size: 24px;
  padding-right: 15%;
  padding-left: 15%;
}



.nav-icon {
  padding: 0px 10px;
}
.slider-img {
  padding-left: 22%;
}

.overlay-content h1 {
  position: absolute;
  top: 2%;
  left:45%;
  font-size: 505px;
  color: #545454;
  font-family: "Poppins", sans-serif;
  opacity: 0.2;
  overflow: hidden;
  width:55%;
}
.overlay-content h4 {
  font-size: 36px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.overlay-content h3 {
  font-size: 72px;
  font-family: "Poppins";
  line-height: 90px;
  letter-spacing: 2px;
  color: #726bb1;
}
.content p {
  width: 700px;
  font-size: 21px;
}

.content {
  position: absolute;
  top: 21%;
  left: 5%;
  font-weight: 500;
  /* width: 620px; */
  width: 52%;
  height: 620px;
  color: black;
  border: 12px solid white;
}
.content-1 {
  position: absolute;
  left: 18%;
  top: 11%;
}


/* Second Section Start */

.about-us {
  padding-top: 105px;
  padding-bottom: 700px;
}
.about-us-main{
  position: relative;
}

.about-us-left {
  width: 37%;
  padding-left: 10px;
  position: absolute;
  top: 20px;
  left: 14%;
  
}

.about-us-right {
  position: absolute;
  right: 0%;
  width: 50%;
  padding-left: 2%;
  top: -190px;
  
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.evana-rotate h1 {
  font-size: 136px;
  font-family: "Poppins", sans-serif;
  color: #726bb1;;
}

.web-look h2 {
  font-size: 60px;
  font-weight: 700;
  color: #222222;
  line-height: 70px;
  padding-bottom: 40px;
}

.web-look span {
  font-size: 21px;
  font-weight: bold;
  color: #222222;
  font-family: "Roboto";
}

.evana-rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: absolute;
  /* z-index: 9999; */
  left: -16%;
  top: 150px;
  padding-right: 20px;
}
.rotate-e h2 {
  -webkit-transform: rotate(-180deg);
  position: relative;
  font-size: 600px;
  font-family: "Poppins", sans-serif;
  color: #726bb1;
  opacity: 0.2;
  top: 0px;
}

.read-more-btn button {
  border: transparent;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.read-more-btn button:hover {
  color: #7769f1;
  transition: 0.6s ease-out;
}
#read-more-blue {
  border: 2px solid #cfccff;
  width: 40px;
  height: 40px;
  background-color: #cfccff;
  margin-top: -38px;
  margin-left: 75px;
}

.read-more-btn {
  position: relative;
  top: 122px;
  left: 250px;
}

/* Why We Best */


.why-we-best {
  background-color: #f5f9fd;
  padding-top: 50px;
}
.why-we-best-left {
  width:50%;
  padding-left: 20px;
  float: left;
  padding-right: 10px;
}
.why-best-span {
  font-size: 21px;
  font-weight: bold;
  padding-top: 40px;
  color: #555555;
}
.why-we-best-right {
  padding-top: 30px;
  float: left;
}
.technologies div {
  position: relative;
  display: inline;
}

.technologies i {
  text-shadow: -13px -18px 9px white;
}

.technologies p {
  font-size: 18px;
  color: #555555;

}
.technologies b {
  position: relative;
  left: -50px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #222222;
}
.heading-tech {
  position: absolute;
  left: 75px;
  top: -40px;
}
.why-best-img {
  position: relative;
  bottom: -60px;
  cursor: pointer;
}

.why-we-best img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}


/* Amazing Product */

.product {
  padding-top: 150px;
  padding-bottom: 120px;
}
.product-heading h2 {
  font-size: 48px;
  color: #726bb1;
  font-family: "Poppins", sans-serif;
  line-height: 55px;
}

.product-description p {
  color: #555555;
  font-size: 18px;
}

.product-span {
  color: #555555;
  font-size: 21px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
}
.product-description {
  padding-bottom: 50px;
  padding-left: 10px;
}

.product-main{
  padding-left: 10px;
  padding-right: 10px;
}
.product-left {
  float: left;
  width: 50%;
}
.product-img1 {
  padding-top: 40px;
}

.product-img2 {
  padding-top: 40px;
}
.product-right {
  padding-top: 125px;
  float: right;
  width: 50%;
}
.product-img4 {
  padding-top: 40px;
}

.product img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.product img:hover {
  opacity: 0.6;
  transition: 0.4s ease-in-out;
}
.all-project-btn button {
  border: transparent;
  background: transparent;
  margin-top: 60px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 70%;
  margin-top: 280px;
}
.all-project-btn i {
  color: black;
  border: 1px solid black;
  padding: 9px;
}
.all-project-btn button:hover {
  color: #7769f1;
  transition: 0.6s ease-out;
}



.banner-bottum {
  
  background: linear-gradient(to right, #9494f35e, #acacf04b),
    url(../assets/images/product-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.banner-main-bottum{
  position: relative;
  height: auto;
}

.banner-overlay-content h1 {
  position: absolute;
  top: 0%;
  left: 0%;
  padding-left: 15px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  opacity: 0.2;
  width: 100%;
  overflow: hidden;
}
.banner-content {
  position: absolute;
  width: 38%;
  top:200px;
  right: 5%;
  text-align: right;
}
.banner-content h4 {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  color: white;
  line-height: 75px;
}
.banner-content p {
  font-size: 21px;
  color: white;
  font-weight: bold;
}

#blue-box {
  position: absolute;
  height: 350px;
  width: 20%;
  background-color: #bcb5f5;
  top: 70px;
  left: 38%;
  opacity: 0.4;
}

.play-video-btn button {
  border: transparent;
  background: transparent;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}


/* Service Section */

.services {
  padding-top: 60px;
}
.heading-service {
  text-align: center;
  padding-bottom: 40px;
}
.service-span {
  font-size: 21px;
  font-weight: bold;
  color: #555555;
  padding-left: 26%;
  padding-right: 26%;
  padding-top: 30px;
}
.service-container{
  padding-left: 7%;
}

.services-col1 {
  float: left;
  width: 40%;
  margin: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
hr.hr-line {
  border: 1px solid #a399fa;
}

h6 {
  font-size: 21px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}
.col-services p {
  font-size: 18px;
  color: #222222;
}
.col-services {
  position: relative;
  left: 60px;
  top: -50px;
}
.col1 {
  padding: 50px;
  padding-bottom: 10px;
}

.more-btn button {
  border: transparent;
  background: transparent;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.more-btn button:hover {
  color: #7769f1;
  transition: 0.6s ease-out;
}

.more-btn i {
  color: black;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.changing-moment {
  padding-top: 45px;
  padding-bottom: 45px;
}

.moment-heading h4 {
  font-size: 48px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  line-height: 60px;
}

.moment-span {
  font-size: 21px;
  font-weight: bold;
  color: #555555;
  padding-bottom: 20px;
}

.moment-para p {
  font-size: 18px;
  color: #222222;
}

.moment-main{
  
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  
}
.moment-content {
  float: left;
  padding-top: 180px;
  

}

.moment-para {
  
  padding-top: 50px;
}

.moment-img {
  position: absolute;
  right: 0%;
  background: url(/html/assets/images/pic-flower.png);
  background-image: linear-gradient(to right, #cdcaf148, #dad7fd48),
    url(../assets/images/pic-flower.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 65%;
  height: 505px;
  z-index: -1;
}

.readMore-btn button {
  position: relative;
  border: transparent;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  top: 660px;
}
.readMore-btn button:hover {
  color: #7769f1;
  transition: 0.6s ease-out;
}
#readMore-blue {
  border: 2px solid #cfccff;
  width: 40px;
  height: 40px;
  background-color: #cfccff;
  margin-top: -40px;
  margin-left: 70px;
}

/* OUR TEAM SECTION */

.our-team {
  padding-top: 50px;
  padding-bottom: 220px; 
}

.team-heading {
  text-align: center;
}

.team-span {
  font-size: 21px;
  font-weight: bold;
  color: #555555;
  padding-top: 35px;
  padding-bottom: 54px;
}

.team-intro {
  float: left;
  position: relative;
  padding: 15px;

}


.team-bottum {
  position: relative;
  top: 240px;
}

.team-name-upr {
  -webkit-transform: rotate(-90deg);
  position: relative;
  left: 0px;
  top: -120px;
}
.team-name {
  -webkit-transform: rotate(-90deg);
  position: relative;
  right: 120%;
  top: -10px;
}


/* QUOTE SECTION */
.quotes-section {
  background-color: #f5f9fd;
  padding-bottom: 170px;
}
.quote-img {
  padding-top: 90px;
  text-align: center;
}


.quote-heading {
  font-size: 36px;
  color: #222222;
  font-family: "Poppins";
  padding-top: 60px;
  padding-bottom: 48px;
}

.quote-para {
  text-align: center;
  font-size: 21px;
  font-style: italic;
  color: #555555;
  padding-right: 18%;
  padding-left: 16%;
}

.photographer-img {
  float: left;
  padding-right: 25px;
}
.photographer-img img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.photographer-intro {
  position: relative;
  left: 45%;
  top: 50px;
  width: 500px;
}


.subscribe-section {
  padding-top: 50px;
  text-align: center;
}

.subscribe-heading {
  font-size: 32px;
  color: #222222;
  font-family: "Poppins";
  padding-top: 0px;
}

.subscribe-para {
  text-align: center;
  font-size: 18px;
  color: #555555;
  padding-left: 20%;
  padding-right: 20%;
}

.subscribe-input {
  padding-bottom: 50px;
  padding-top: 25px;
}
.subscribe-input input {
  font-size: 18px;
  border: hidden;
  width: 550px;
  height: 60px;
  outline: none;
}

.subscribe-input button {
  background-color: #cfccff;
  width: 200px;
  height: 60px;
  border: transparent;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}



/* latest news */

.latest-heading {
  padding-top: 10px;
  text-align: center;
}

.latest-span {
  padding-top: 40px;
  padding-bottom: 65px;
  font-size: 21px;
  font-weight: bold;
  color: #555555;
}
.latest-pic-row span {
  font-size: 21px;
  font-weight: bold;
  color: #555555;
}

.latest-pic-row {
  padding-left: 10px;
  padding-bottom: 80px;
}

.latest-col {
  float: left;
  width: 30%;
  margin: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}


/* About US */

.about-us-row {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #f5f9fd;
  padding-left: 10px;
}

.about-col {
  float: left;
  width: 31%;
  padding-right: 45px;
}
.about-col1 {
  float: left;
  padding: 2px;
  width: 23%;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555555;
}


}



@media (max-width : 1024px){
 

  .uper-section {
    height: 800px;
    position: relative;
  }


  .top-head {
    height: 150px;
    padding-top: 35px;
    padding-bottom: 54px;
    font-size: 24px;
    padding-right: 12%;
    padding-left: 12%;
  }
  
  
  
  .nav-icon {
    padding: 0px 10px;
  }
  .slider-img {
    padding-left: 22%;
  }
  
  .overlay-content h1 {
    position: absolute;
    top: -50px;
    left:45%;
    font-size: 505px;
    width:55%;
  }
  .overlay-content h4 {
    font-size: 26px;
  }
  
  .overlay-content h3 {
    font-size: 55px;
    line-height: 70px;
  }
  .content p {
    width: 600px;
    font-size: 18px;
  }
  
  .content {
    position: absolute;
    top: 21%;
    left: 5%;
    font-weight: 500;
    width: 52%;
    height: 480px;
    color: black;
    border: 12px solid white;
  }
  .content-1 {
    position: absolute;
    left: 18%;
    top: 11%;
  }
  
  
  /* Second Section Start */
  
  .about-us {
    padding-top: 105px;
    padding-bottom: 650px;
  }
  .about-us-main{
    position: relative;
  }
  
  .about-us-left {
    width: 32%;
    padding-left: 10px;
    position: absolute;
    top: 20px;
    left: 18%;
    
  }
  
  .about-us-right {
    position: absolute;
    right: 0%;
    width: 50%;
    padding-left: 2%;
    top: -190px;
    
    font-size: 17px;
    line-height: 25px;

  }
  .evana-rotate h1 {
    font-size: 82px;
    font-family: "Poppins", sans-serif;
    color: #726bb1;;
  }
  
  .evana-rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: absolute;
    /* z-index: 9999; */
    left: -6%;
    top: 90px;
    padding-right: 20px;
  }

  .web-look h2 {
    font-size: 38px;
    line-height: 42px;
    padding-bottom: 40px;
  }
  
  .web-look span {
    font-size: 16px;
  }
  
  .read-more-btn {
    position: relative;
    top: 80px;
    left: 120px;
  }
  

  /* Why We Best */
  

  
  .why-we-best {
    background-color: #f5f9fd;
    padding-top: 70px;
    padding-left: 18%;
    }

  .why-we-best-left {
    width:80%;
    padding-bottom: 100px;
    text-align: center;
    float: left;
  }

  .why-best-span {
    font-size: 23px;
    font-weight: bold;
    padding-top: 40px;
    color: #555555;
  }

  .why-we-best-right {
    padding-top: 120px;
    float: left;  
  }
.technologies{
  margin-bottom: 30px;
}
  .technologies p{
    font-size: 21px;
  }
  .technologies b{
    font-size: 23px;

  }

  /* Amazing Product */
  
  .product {
    padding-top: 150px;
    padding-bottom: 120px;
  }
  .product-heading h2 {
    font-size: 35px;
    color: #726bb1;
    font-family: "Poppins", sans-serif;
    line-height: 45px;
  }
  
  .product-description p {
    color: #555555;
    font-size: 21px;
  }
  
  .product-span {
    color: #555555;
    font-size: 22px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .product-description {
    padding-bottom: 50px;
    padding-left: 10px;
  }
  
  .product-main{
    padding-left: 10px;
    padding-right: 10px;
  }
  .product-left {
    float: left;
    width: 52%;
  }
  .product-img1 {
    padding-top: 40px;
  }
  
  .product-img2 {
    padding-top: 40px;
  }
  .product-right {
    padding-top: 125px;
    float: right;
    width: 48%;
  }
  .product-img4 {
    padding-top: 40px;
  }
 
  .all-project-btn button {
    border: transparent;
    background: transparent;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 55%;
    margin-top: 280px;
  }
  
  
  
.banner-bottum {
  
  background: linear-gradient(to right, #9494f35e, #acacf04b),
    url(../assets/images/product-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.banner-main-bottum{
  position: relative;
  height: auto;
}

.banner-overlay-content h1 {
  position: absolute;
  top: 0%;
  left: 0%;
  padding-left: 15px;
  font-size: 300px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  opacity: 0.2;
  width: 100%;
  overflow: hidden;
}
.banner-content {
  position: absolute;
  width: 35%;
  top:200px;
  right: 5%;
  text-align: right;
}
.banner-content h4 {
  font-size: 47px;

  line-height: 40px;
}
.banner-content p {
  font-size: 15px;
}

#blue-box {
  position: absolute;
  height: 250px;
  width: 20%;
  background-color: #bcb5f5;
  top: 70px;
  left: 38%;
  opacity: 0.4;
}



  
  /* Service Section */
  
  .services {
    padding-top: 60px;
  }
  .heading-service {
    text-align: center;
    padding-bottom: 40px;
  }
  .service-span {
    font-size: 21px;
    font-weight: bold;
    color: #555555;
    padding-left: 15%;
    padding-right:15%;
    padding-top: 30px;
  }
  .service-container{
    padding-left: 5%;
  }
  
  .services-col1 {
    float: left;
    width: 42%;
    margin: 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
.col-services p{
  font-size: 20px;
}
.col-services h6{
  font-size: 24px;
}
  
  
  .more-btn button {
    border: transparent;
    background: transparent;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  .more-btn button:hover {
    color: #7769f1;
    transition: 0.6s ease-out;
  }
  
  .more-btn i {
    color: black;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
  }


/* changing moment */


  .changing-moment {
    padding-top: 45px;
    padding-bottom: 100px;
  }
  
  .moment-heading h4 {
    font-size: 50px;
    color: #222222;
    font-family: "Poppins", sans-serif;
    line-height: 60px;
  }
  
  .moment-span {
    font-size: 24px;
    font-weight: bold;
    color: #555555;
    padding-bottom: 0px;
  }
  
  .moment-para p {
    font-size: 24px;
    color: #222222;
  }
  
  .moment-main{
    
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  .moment-content {
    float: left;
    padding-top: 180px;
    padding-left: 50px;
    
  
  }
  
  .moment-para {
    
    padding-top: 50px;
  }
  
  .moment-img {
    position: absolute;
    right: 0%;
    background: url(/html/assets/images/pic-flower.png);
    background-image: linear-gradient(to right, #cdcaf148, #dad7fd48),
      url(../assets/images/pic-flower.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 505px;
    z-index: -1;
  }
  
  .readMore-btn button {
    position: relative;
    border: transparent;
    background: transparent;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    top: 900px; 
    left: 45%;
  }
  .readMore-btn button:hover {
    color: #7769f1;
    transition: 0.6s ease-out;
  }
  #readMore-blue {
    margin-top: -40px;
    margin-left: 95px;
  }
  
  /* OUR TEAM SECTION */
  
  .our-team {
    padding-top: 50px;
    padding-bottom: 350px; 
  }
  
  .team-heading {
    text-align: center;
  }
  
  .team-span {
    font-size: 21px;
    font-weight: bold;
    color: #555555;
    padding-top: 35px;
    padding-bottom: 54px;
  }
  
  .team-intro {
    float: left;
    position: relative;
    padding: 15px;
  
  }
  
  
  .team-bottum {
    position: relative;
    top: 240px;
  }
  
  .team-name-upr {
    -webkit-transform: rotate(-90deg);
    position: relative;
    left: 10px;
    top: -80px;
  }
  .team-name {
    -webkit-transform: rotate(-90deg);
    position: relative;
    right: 132%;
    top: 0px;
  }
.team-row h6{
  font-size: 18px;
}  
  
  /* QUOTE SECTION */
  .quotes-section {
    background-color: #f5f9fd;
    padding-bottom: 170px;
  }
  .quote-img {
    padding-top: 90px;
    text-align: center;
  }
  
  
  .quote-heading {
    font-size: 36px;
    color: #222222;
    font-family: "Poppins";
    padding-top: 60px;
    padding-bottom: 48px;
  }
  
  .quote-para {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    color: #555555;
    padding-right: 14%;
    padding-left: 14%;
  }
  
  .photographer-img {
    float: left;
    padding-right: 25px;
  }
  .photographer-img img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  .photographer-intro {
    position: relative;
    left: 45%;
    top: 50px;
    width: 35%;
  }
  
  
  .subscribe-section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
  }
  
  .subscribe-heading {
    font-size: 32px;
    color: #222222;
    font-family: "Poppins";
    padding-top: 0px;
  }
  
  .subscribe-para {
    text-align: center;
    font-size: 18px;
    padding-left: 17%;
    padding-right: 17%;
  }
  
  .subscribe-input {
    padding-top: 70px;
  }
  .subscribe-input input {
    font-size: 18px;
    border: hidden;
    width: 72%;
    height: 60px;
    outline: none;
  }
  
  .subscribe-input button {
    background-color: #cfccff;
    width: 200px;
    height: 60px;
    border: transparent;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }
  
  
  
  /* latest news */
  
  .latest-heading {
    padding-top: 10px;
    text-align: center;
  }
  
  .latest-span {
    padding-top: 15px;
    padding-bottom: 50px;
   
  }
  .latest-pic-row span {
    font-size: 15px;
  }
  
  .latest-pic-row {
    padding-left: 10px;
    padding-bottom: 80px;
  }
  
  .latest-col {
    float: left;
    width: 29%;
    margin: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .read-latest-btn button{
   font-size: 15px; 
   margin-top: 12px;
  }
  
  
  /* About US */
  
  .about-us-row {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #f5f9fd;
    padding-left: 10px;
  }
  
  .about-col {
    float: left;
    width:71%;
    padding-right: 0px;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 100px;
  }
  .social-link i{
    font-size: 30px;
    margin: 10px;
  }

  .about-col2 {
    padding-left: 0%;
}


  .about-col1 {
    float: left;
    padding: 2px;
    width:31%;
  }
  
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    color: #555555;
    font-size: 22px;
  }
  
  
  }
  
  
  
@media (max-width :768px){
 

  .uper-section {
    height: 800px;
    position: relative;
  }


  .top-head {
    height: 150px;
    padding-top: 35px;
    padding-bottom: 54px;
    font-size: 24px;
    padding-right: 12%;
    padding-left: 12%;
  }
  
  
  
  .nav-icon {
    padding: 0px 10px;
  }
  .slider-img {
    padding-left: 22%;
  }
  
  .overlay-content h1 {
    position: absolute;
    top: -70px;
    left:0%;
    font-size: 505px;
    width:100%;
  }
  .overlay-content h4 {
    font-size: 32px;
  }
  
  .overlay-content h3 {
    font-size: 45px;
    line-height: 50px;
  }
  .content p {
    width: 100%;
    font-size: 18px;
  }
  
  .content {
    position: absolute;
    top: 21%;
    left: 2%;
    font-weight: 500;
    width: 95%;
    height: 480px;
  }
  .content-1 {
    position: absolute;
    left: 5%;
    top: 5%;
  }
  
  
  /* Second Section Start */
  
  .about-us {
    padding-top: 105px;
    padding-bottom: 1000px;
  }
  .about-us-main{
    position: relative;
  }
  
  .about-us-left {
    width: 70%;
    padding-left: 10px;
    position: absolute;
    top: 670px;
    left: 5%;
    
  }
  
  .about-us-right {
    position: absolute;
    right: 0%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    top: -190px;
    font-size: 17px;
    line-height: 25px;

  }
  .evana-rotate h1 {
    font-size: 80px;
    font-family: "Poppins", sans-serif;
    color: #726bb1;;
  }
  
  .evana-rotate {
    -webkit-transform: rotate(0deg);
    position: absolute;
    left: 5%;
    top: 550px;
    padding-right: 20px;
  }

  .web-look h2 {
    font-size: 38px;
    line-height: 42px;
    padding-bottom: 20px;
  }
  
  .web-look span {
    font-size: 16px;
  }
  
  .read-more-btn {
    position: relative;
    top: 20px;
    left: 0%;
    float: right;
  }
  

  /* Why We Best */
  

  
  .why-we-best {
    background-color: #f5f9fd;
    padding-top: 70px;
    padding-left: 0%;
    padding-right: 10px;
    }

  .why-we-best-left {
    width:100%;
    padding-bottom: 100px;
    text-align: center;
    float: left;
  }

  .why-best-span {
    font-size: 20px;
    font-weight: bold;
    padding-top: 40px;
    color: #555555;
  }

  .why-we-best-right {
    padding-top: 120px;
    float: left;  
    width: 85%;
    padding-left: 0%;
    margin-left: 0%;
  }
.technologies{
  margin-bottom: 30px;
}
  .technologies p{
    font-size: 20px;
  }
  .technologies b{
    font-size: 21px;

  }

  /* Amazing Product */
  
  .product {
    padding-top: 150px;
    padding-bottom: 120px;
  }
  .product-heading h2 {
    font-size: 35px;
    color: #726bb1;
    font-family: "Poppins", sans-serif;
    line-height: 45px;
  }
  
  .product-description p {
    color: #555555;
    font-size: 21px;
  }
  
  .product-span {
    color: #555555;
    font-size: 21px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .product-description {
    padding-bottom: 50px;
    padding-left: 10px;
  }
  
  .product-main{
    padding-left: 10px;
    padding-right: 10px;
  }
  .product-left {
    float: left;
    width: 52%;
  }
  .product-img1 {
    padding-top: 40px;
  }
  
  .product-img2 {
    padding-top: 40px;
  }
  .product-right {
    padding-top: 125px;
    float: right;
    width: 48%;
  }
  .product-img4 {
    padding-top: 40px;
  }
 
  .all-project-btn button {
    border: transparent;
    background: transparent;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 80px;
  }
  
  
  
.banner-bottum {
  
  background: linear-gradient(to right, #9494f35e, #acacf04b),
    url(../assets/images/product-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.banner-main-bottum{
  position: relative;
  height: auto;
}

.banner-overlay-content h1 {
  position: absolute;
  top: 10%;
  left: 0%;
  padding-left: 15px;
  font-size: 220px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  opacity: 0.2;
  width: 100%;
  overflow: hidden;
}
.banner-content {
  position: absolute;
  width: 65%;
  top:120px;
  right: 5%;
  text-align: right;
}
.banner-content h4 {
  font-size: 40px;

  line-height: 40px;
}
.banner-content p {
  font-size: 15px;
}

#blue-box {
  position: absolute;
  height: 250px;
  width: 20%;
  background-color: #bcb5f5;
  top: 70px;
  left: 38%;
  opacity: 0.4;
}



  
  /* Service Section */
  
  .services {
    padding-top: 60px;
  }
  .heading-service {
    text-align: center;
    padding-bottom: 40px;
  }
  .service-span {
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    padding-left: 15%;
    padding-right:15%;
    padding-top: 30px;
  }
  .service-container{
    padding-left: 5%;
  }
  
  .services-col1 {
    float: left;
    width: 80%;
    margin: 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
  }
  
.col-services p{
  font-size: 20px;
}
.col-services h6{
  font-size: 24px;
}
  
  
  .more-btn button {
    border: transparent;
    background: transparent;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  .more-btn button:hover {
    color: #7769f1;
    transition: 0.6s ease-out;
  }
  
  .more-btn i {
    color: black;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
  }


/* changing moment */


  .changing-moment {
    padding-top: 45px;
    padding-bottom: 250px;
  }
  
  .moment-heading h4 {
    font-size: 50px;
    color: #222222;
    font-family: "Poppins", sans-serif;
    line-height: 60px;
  }
  
  .moment-span {
    font-size: 22px;
    font-weight: bold;
    color: #555555;
    padding-bottom: 0px;
  }
  
  .moment-para p {
    font-size: 20px;
    color: #222222;
  }
  
  .moment-main{
    
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  .moment-content {
    float: left;
    padding-top: 180px;
    padding-left: 50px;
    
  
  }
  
  .moment-para {
    
    padding-top: 50px;
  }
  
  .moment-img {
    position: absolute;
    /* right: 0%; */
    background: url(/html/assets/images/pic-flower.png);
    background-image: linear-gradient(to right, #cdcaf148, #dad7fd48),
      url(../assets/images/pic-flower.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 505px;
    z-index: -1;
    left: 0%;
  }
  
  .readMore-btn button {
    position: relative;
    border: transparent;
    background: transparent;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    top: 900px; 
    left: 45%;
  }
  
  
  /* OUR TEAM SECTION */
  
  .our-team {
    padding-top: 50px;
    padding-bottom: 100px; 
  }
  
  .team-heading {
    text-align: center;
  }
  
  .team-span {
    font-size: 19px;
    font-weight: bold;
    color: #555555;
    padding-top: 35px;
    padding-bottom: 54px;
    padding-left: 5PX;
    padding-right: 4px;
  }
  
  .team-row {
    padding-left: 15%;
  }
  
  
.team-intro {
  float: left;
  position: relative;
  padding: 15px;
  width: 40%;
  margin: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
.team-pic img{
  border-radius: 20%;
}  

  .team-bottum {
    position: relative;
    top: 0px;
  }
  
  .team-name-upr {
    -webkit-transform: rotate(0deg);
    position: relative;
    top: 0px;
    display: none;
  }
  .team-name {
    -webkit-transform: rotate(0deg);
    position: relative;
    top: 0%;
    display: none;
  }


  
  /* QUOTE SECTION */



  .quotes-section {
    background-color: #f5f9fd;
    padding-bottom: 170px;
  }
  .quote-img {
    padding-top: 90px;
    text-align: center;
  }
  
  
  .quote-heading {
    font-size: 36px;
    color: #222222;
    font-family: "Poppins";
    padding-top: 60px;
    padding-bottom: 48px;
  }
  
  .quote-para {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    color: #555555;
    padding-right: 5%;
    padding-left: 5%;
  }

  .arrow{
    display: none;
  }
  
  .photographer-img {
    float: left;
    padding-right: 25px;
  }
  .photographer-img img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  .photographer-intro {
    position: relative;
    left: 30%;
    top: 50px;
    width: 45%;
  }
  
  
  .subscribe-section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
  }
  
  .subscribe-heading {
    font-size: 30px;
    color: #222222;
    font-family: "Poppins";
    padding-top: 0px;
  }
  
  .subscribe-para {
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .subscribe-input {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .subscribe-input input {
    font-size: 18px;
    border: hidden;
    width: 72%;
    height: 60px;
    outline: none;
  
  }
  
  .subscribe-input button {
    background-color: #cfccff;
    width: 25%;
    height: 60px;
    border: transparent;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }
  
  
  
  /* latest news */
  
  .latest-heading {
    padding-top: 10px;
    text-align: center;
  }
  
  .latest-span {
    padding-top: 15px;
    padding-bottom: 50px;
    font-size: 19px;
   
  }
  .date p{
    margin-top: 0px;
  }
  .latest-pic-row span {
    font-size: 18px;
    
  }
  
  .latest-pic-row {
    padding-left: 17%;
    padding-bottom: 80px;
  }
  
  .latest-col {
    float: left;
    width: 60%;
    margin: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .read-latest-btn button{
   font-size: 15px; 
   margin-top: 0px;
  }
  
  
  /* About US */
  
  .about-us-row {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #f5f9fd;
    padding-left: 10px;
  }
  
  .about-col {
    float: left;
    width:100%;
    padding-right: 0px;
    text-align: center;
    margin-left: 0%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 150px;
  }

.social-link i{
  font-size: 25px;
}

  .about-col2 {
    padding-left: 0%;
}


  .about-col1 {
    float: left;
    padding: 0px;
    width:50%;
  }
  
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    color: #555555;
    font-size: 22px;
  }
  
  
  }
   
@media (max-width :481px){
 

  .uper-section {
    height: 880px;
    position: relative;
  }


  
  
  /* Second Section Start */
  
  .about-us {
    padding-top: 100px;
    padding-bottom: 1200px;
  }
  
  
  .evana-rotate h1 {
    font-size: 80px;
    font-family: "Poppins", sans-serif;
    color: #726bb1;
  }
  
  .evana-rotate {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: absolute;
    left: 5%;
    top: 550px;
    padding-right: 20px;
  }

  /* Why We Best */
  

  
  .why-we-best {
    padding-top: 70px;
    padding-left: 0%;
    padding-right: 10px;
    }



  .why-we-best-right {
    padding-top: 120px;
    float: left;  
    width: 100%;
    padding-left: 0%;
  }
.technologies{
  margin-bottom: 100px;
  padding-left: 10px;
}
  .technologies b{
    font-size: 20px;
    left: 0%;

  }
.technologies i{
  display: none;
}

.heading-tech {
  position: absolute;
  left: 0px;
  top: -40px;
}


  /* Amazing Product */
  
  .product {
    padding-top: 150px;
    padding-bottom: 120px;
  }
  
 
  .all-project-btn button {
    margin-top: 60px;
    margin-left: 0%;
    margin-top: 80px;
  }
  
  
  
.banner-bottum {
  height: 450px;
}

#play-video-box{
  display: none;
}

  
  /* Service Section */
  
  .services {
    padding-top: 150px;
  }
  .heading-service {
    text-align: center;
    padding-bottom: 40px;
  }
  .service-span {
    font-size: 16px;
    padding-left: 5%;
    padding-right:5%;
    padding-top: 30px;
  }
  .service-container{
    padding-left: 0%;
  }
  
  .services-col1 {
    float: left;
    width: 100%;
    margin: 0px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    
  }
.services-col1 i{
  display: none;
}
  .col-services {
    position: relative;
    left: 0px;
    top: 10px;
  }
  .col1 {
    padding: 20px;
    padding-bottom: 10px;
  }
  

  
  .more-btn button {
    margin-top: 20px;
    font-size: 20px;
  }
  
  .more-btn i {
    display:contents;
  }


/* changing moment */


  .changing-moment {
    padding-top: 100px;
    padding-bottom: 300px;
  }
  

  
.moment-para {
  width: 100%;
  padding-top: 50px;
}

  .moment-heading h4 {
    font-size: 38px;
  }
  
  .moment-content {
    float: left;
    padding-top: 150px;
    padding-left: 10px;
  }
  
  
  
  .readMore-btn button {
    font-size: 22px;
    top: 920px; 
    left: 45%;
  }
  
  /* OUR TEAM SECTION */
  
  .our-team {
    padding-top: 50px;
    padding-bottom: 100px; 
  }
  
 
  


  
  /* QUOTE SECTION */



  .quotes-section {
    background-color: #f5f9fd;
    padding-bottom: 170px;
  }
  .quote-img {
    padding-top: 90px;
    text-align: center;
  }

  
  .photographer-img {
    float: left;
    padding-right: 25px;
  }
  .photographer-img img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  .photographer-intro {
    position: relative;
    top: 50px;
    width:90%;
    left: 0%;
  }
  
  
  .subscribe-section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
  }
  
  
  .subscribe-input {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .subscribe-input input {
    font-size: 18px;
    border: hidden;
    width: 100%;
    height: 60px;
    outline: none;
    padding-left: 20px;
    background-color: #d2e5f8;
  
  }
  
  .subscribe-input button {
    background-color: #cfccff;
    width: 50%;
    height: 60px;
    margin-top: 50px;
  }
  
  
  
  /* latest news */
  
  .latest-heading {
    padding-top: 10px;
    text-align: center;
  }
  
  
  .latest-pic-row {
    padding-left: 7%;
    padding-bottom: 80px;
  }
  
  .latest-col {
    float: left;
    width: 80%;
    margin: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .read-latest-btn button{
   font-size: 15px; 
   margin-top: 0px;
  }
  
  
  /* About US */
  
  .about-us-row {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #f5f9fd;
    padding-left: 10px;
  }
  
  .about-col {
    float: left;
    width:100%;
    padding-right: 0px;
    text-align: center;
    margin-left: 0%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 150px;
  }

.social-link i{
  font-size: 30px;
  margin: 5px;
}

  
.about-col2 {
  padding-left:10%;
  text-align: center;
}


.about-col1 {
  float: left;
  padding: 0px;
  width:100%;
  margin-top: 50px;
}
.about-col1 b{
  font-size: 20px;
}

  
  
  }

