.divInner {
    font-size: 40px;
    display: inline-block;
    margin-right: 50px;
    }
    



   
    .div:first-child .divInner:first-child {
        color:blue;
     }

    .div:nth-child(2) .divInner:nth-child(1){
         color: green;
     }
    .div:nth-child(2) .divInner:nth-child(2){
         color:red;
     }
    .div:nth-child(3) .divInner:first-child{
         color:green;
     }
    .div:nth-child(4) .divInner:first-child{
         color:black;
     }
    .div:nth-child(4) .divInner:nth-child(2){
         color:red;
     }
    .div:nth-child(4) .divInner:last-child{
         color:green;
     }
    .div:nth-child(5) .divInner:first-child{
         color:green;
     }
    .div:nth-child(5) .divInner:nth-child(2){
         color:black;
     }
    .div:nth-child(5) .divInner:nth-last-child(2){
         color:red;
     }
    .div:nth-child(5) .divInner:last-child{
         color:red;
     }
    .div:nth-child(6) .divInner:first-child{
         color:blue;
     }
    .div:nth-child(6) .divInner:nth-child(2){
         color:blue;
     }
    .div:nth-child(6) .divInner:nth-child(3){
         color:orange;
     }
    .div:nth-child(6) .divInner:nth-last-child(2){
         color:red;
     }
    .div:nth-child(6) .divInner:last-child{
         color:red;
     }
    .div:nth-child(7) .divInner:first-child{
         color:blue;
     }
    .div:nth-child(7) .divInner:nth-child(2){
         color:blue;
     }
    .div:nth-child(7) .divInner:nth-child(3){
         color:black;
     }
    .div:nth-child(7) .divInner:nth-last-child(2){
         color:red;
     }
    .div:nth-child(7) .divInner:last-child{
         color:orange;
     }
    .div:nth-child(8) .divInner:first-child{
         color:orange;
     }
    .div:nth-child(9) .divInner:first-child{
         color:red;
     }
    .div:nth-child(9) .divInner:nth-child(2){
         color:green;
     }
    .div:nth-child(9) .divInner:nth-child(3){
         color:green;
     }
     
    .div:nth-child(9) .divInner:nth-last-child(2){
        color:green;
    }
   .div:nth-child(9) .divInner:last-child{
        color:orange;
    }
    .div:nth-last-child(2) .divInner:first-child{
         color:red;
     }
    .div:nth-last-child(2) .divInner:nth-child(2){
         color:yellow;
     }
    .div:nth-last-child(2) .divInner:nth-child(3){
         color:black;
     }
    .div:nth-last-child(2) .divInner:nth-last-child(2){
         color:black;
     }
    .div:nth-last-child(2) .divInner:last-child{
         color:red;
     }
    .div:last-child .divInner:first-child{
         color:red;
     }
    .div:last-child .divInner:nth-child(2){
         color:yellow;
     }
    .div:last-child .divInner:nth-child(3){
         color:green;
     }
    .div:last-child .divInner:nth-last-child(2){
         color:orange;
     }
     .div:last-child .divInner:last-child{
         color: red;
     }
