@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=PT+Serif:wght@400;700&display=swap');
/* font-family: 'PT Serif', serif; */





* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #757575;
  }
  
  ul,
  li {
    margin: 0px;
    padding: 0px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
    padding: 0px;
  }
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  .container {
    max-width: 980px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .clear:after {
    content: "";
    display: block;
    clear: both;
  }
  
  a {
    color: #017dfb;
    text-decoration: none;
  }


  button{
      
    font-size: 10px;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #2e71f2;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    height: 45px;
    height: 45px;
    border: none;
  }

h4{

    font-size: 52px;
    letter-spacing: -2px;
    line-height: 55px;
    font-weight: 700;
    padding-top: 10px;
    color: #3b3d40;
}
h6{

    font-size: 20px;
    line-height: 26px;
    color: #cacacb;
    font-weight: 400;
    font-family: 'PT Serif', serif;
    text-align: center;
}


/* First Section  */

.upr-section{
    background: url(../assets/images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.languges{
    float: left;
    font-size: 11px;
    color: #ffffff;
    font-weight: 700;
    padding-left: 10px;
}
.navbar{
    float: left;
    padding-left: 23%;
}

.main-head{
    padding-top: 50px;
}
.nav-item ul li{
    display: inline;
   
}
.nav-item ul li a:hover{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5c49c7, 0 0 70px #5c49c7, 0 0 80px #5c49c7, 0 0 100px #5c49c7, 0 0 150px #5c49c7;
    transition: ease-in .2s;
    color: black;
    
}
.nav-item ul li a{
font-size: 11px;
letter-spacing: 2px;
color: #ffffff;
font-weight: 700;
text-align: center;
padding: 12px;
}

.social-media-links{
    float: right;
}

.social-media-links i{
    float: right;
    color: #ffffff;
    padding: 14px;
    padding-top: 0%;
    padding-bottom: 0%;
}
.social-media-links i:hover{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5c49c7, 0 0 70px #5c49c7, 0 0 80px #5c49c7, 0 0 100px #5c49c7, 0 0 150px #5c49c7;

}


.social-media-links a:hover .fa-instagram{
    color: #e1306c;
  }
  .social-media-links a:hover .fa-facebook{
    color: #3b5998;
  }
  .social-media-links a:hover .fa-twitter{
    color: #1fa1f2;
  }

.mid-section{
    padding-top: 220px;
}

.left-arrow{
    float: left;
    padding-top: 90px;
    padding-left: 10px;

}

.logo-heading{
    float: left;
    margin: 0 auto;
    padding-left: 21%;
    text-align: center;
}
.right-arrow{
    float: right;
    padding-top: 90px;
    padding-right: 10px;
}

.mid-section i{
    color: white;
    border: 1px solid white;
    padding: 20px;
    border-radius: 50%;

}

.mid-section i:hover {
    color: black;
    border: 1px solid black;
    transition: .4s ease-in;
}
.main-heading h4{
color: #ffffff;
}

.sub-heading h6{
    padding-top: 20px;
}


/* Second Section */

.second-section{
    height: 165px;
    padding-top: 60px;
    background-color: #3b3d40;
}

.email input{
    float: left;
    height: 45px;
    width: 26%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #585a5c;
    padding-left: 10px;
}
::placeholder{
    color: white;
}

.dropdown{
    position: relative;
    float: left;
    width: 52%;
    margin:  0px 10px;
    

}
.down-arr i{
    position: absolute;
    top: 30%;
    right: 5%;
    color: white;
}

.dropdown input{
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 5px;
    background-color: #585a5c;
    cursor: pointer;
    color: white;
    padding-left: 10px;
    border: none;
    
}

.start-btn button{
height: 45px;
float: right;
/* width: 165px; */
width: 17%;
}

.start-btn button:hover{
    background-color: white;
    color: #2e71f2;
    transition: .7s ease-in-out;


    
}

/* Third Section */

.next-move-secton{
    padding-top: 110px;
    padding-bottom: 0px;
    background-color: #f9f9f9;
}

.next-move-heading{
    text-align: center;
}
.nextmove-heading{
    padding-top: 10px;
}
.next-move-sub-heading{
    padding-top: 20px;
}

.next-move-row{
padding-top: 60px;
}

.next-move-col{
    float: left;
    width: 25%;
    text-align: center;
    padding: 20px;
    padding-top: 0%;
    
    
}
.next-move-col:hover {
    color: black;
    cursor: pointer; 
    box-shadow: 5px 10px 8px 10px #96aae23b;
   
}

.next-move-col p{
    font-size: 14px;
line-height: 18px;
color: #656b6f;
font-weight: 400;
font-family: 'PT Serif', serif;
margin-top: 0%;
}
.feature-name span{
    font-size: 11px;
letter-spacing: 2px;
color: #3b3d40;
font-weight: 700;
margin-top: 20px;
}
.feature-name{
    margin-top: 10px;
}



/* Fourth Section */

.telented-student-section{
    padding-top: 170px;
    padding-bottom: 120px;
}

.telented-left-content{
    float: left;
    width: 50%;
}
.telented-right-img{
    position: relative;
    width: 50%;
    float: right;
    padding-left: 10%;
    padding-top: 85px;
    
}

.play-icon i{
    position: absolute;
    top: 55%;
    left: 55%;
    color: white;
    padding: 15px 15px 15px 22px;
    border-radius: 50%;
    background-color: #2e71f2; 

}
.play-icon i:hover{
    background-color:white;
    color: #2e71f2;
    transition: .3s ease-in;
}

.telented-st-content{

    font-size: 18px;
    line-height: 27px;
color: #656b6f;
font-weight: 400;
font-family: 'PT Serif', serif;
}



/* Fifth Section */


.experience-section{
    padding-top: 100px;
    padding-bottom: 110px;
    background-color: #f9f9f9;
}

.experience-left-img{

    float: left;
    width: 50%;
    padding-left: 9%;
    padding-top: 10px;
}

.experience-right-content{
    float: right;
    width: 50%;
    padding-left: 10px;
}

.experience-right-content p{
    font-family: 'PT Serif', serif;
    font-size: 18px;
}
.join-team-btn button{
    width: 190px;
    margin-top: 40px;
    }
    
    .join-team-btn button:hover{
        background-color:#585a5c;
        color: white;
        transition: .4s ease-in-out;
    }



    /* Sixth Section */
    
    .invest-section{
        padding-top: 100px;
    }

    .invest-left-content{
        float: left;
        width: 50%;
    }

    .invest-right-img{
        float: right;
        width: 50%;
        padding-left: 10%;
        padding-top: 25px;
    }
    .donate-btn button{
        width: 138px;
        margin-top: 42px;
    }
    .donate-btn button:hover{
        
        background-color:#585a5c;
        color: white;
        transition: .4s ease-in-out;
    }


    /* Seventh Section */

    .academic-section{
        padding-top: 200px;
        padding-bottom: 110px;

    }

    .academic-heading{
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10px;
    }

    .academic-sub-heading{
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 10px;
    }

    .academic-content{
        padding-top: 50px;
    }
    .academic-content p{
        font-size: 14px;
    line-height: 19px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
    }
    .academic-left-content{
        float: left;
        width: 50%;
        padding-left: 3%;
    }

    .academic-right-content{
        float: right;
        width: 50%;
        padding-left: 4%;
        padding-bottom: 50px;
    }

    .read-more-btn button{
        width: 160px;
        margin-top: 60px;
        margin-left: 42%;
    }
    .read-more-btn button:hover{
        background-color:#585a5c;
        color: white;
        transition: .4s ease-in-out;
 
    }

    .subscribe-section{
        background: url(../assets/images/bottum-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 455px;
    }

    .subscribe-heading{
        text-align: center;
        padding-top: 100px;
    }

    .subscribe-main-heading h4{
        color: white;
    }
    .subscribe-sub-heading{
        padding-top: 20px;

    }

    .bottum-subscribe {
        padding-left: 20%;
        padding-top: 65px;
    }
    .bottum-subscribe input{
        width: 52%;
        background-color: #787a75;
    }

    .subscribe-btn button{
        width: 155px;
        margin-left: 15PX;
    }

.subscribe-btn button:hover{
    background-color:white;
    color: #2e71f2;
    transition: .7s ease-in-out;

}



    /* Footer  */

    footer{
        background-color: #3b3d3f;
        height: 150px;
    }

    .footer-content{
        padding-top: 40px;
    }
    .footer-content p{
        font-size: 14px;
line-height: 19px;
color: #656b6f;
font-weight: 400;
font-family: "PT Serif";
margin-top: 0%;
    }

    .footer-logo{
        float: left;
        /* padding-top: 15px; */

    }
    .address{
        float: left;
        padding-left: 16%;
        width: 45%;     
    }
    .address a{
        
        font-family: "PT Serif";
        font-size: 14px;
        color: #656b6f;
    }
    .footer-social-link{
        float: right;
        text-align: right;
        
    }
    
    .footer-social-link i{
        padding: 10px;
        color: white;
    }
    
    .footer-social-link i:hover{
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5c49c7, 0 0 70px #5c49c7, 0 0 80px #5c49c7, 0 0 100px #5c49c7, 0 0 150px #5c49c7;
        transition: ease-in .2s;
        color: black;
    }



    .footer-social-link a:hover .fa-instagram{
        transform: rotateY(360deg);
        color: #e1306c;
      }
      .footer-social-link a:hover .fa-facebook{
        transform: rotateY(360deg);
        color: #3b5998;
      }
      .footer-social-link a:hover .fa-twitter{
        transform: rotateY(360deg);
        color: #1fa1f2;
      }


    .cprt{
        padding-top: 10px;
        font-size: 12px;
    }

.icon-btn button{
    display: none;
}






    /* Media Query */

    @media screen and (max-width: 887px) {

        .logo-heading{
            padding-left: 17%;
        }

        .second-section{
            padding-left: 10px;
            padding-right: 10px;
        }

        .fourth-section{
            padding-left: 10px;
            padding-right: 10px;
        }

        .fifth-section{
            padding-right: 10px;
            background-color: #656b6f;
        }

        .sixth-section{
            padding-left: 10px;
        }

        footer{
            padding-left: 10px;
            padding-right: 10px;
        }
        .address{
            padding-left: 14%;
        }

    }



 @media screen and (max-width: 784px) {


    .icon-btn button{
        display: block;
        background-color: transparent;
        font-size: 25px;
        margin-top: -15px;
    }
    
    .navbar{
        display: none;
    }

    .social-media-links i{
        display: none;
    }

    .main-head {
        padding-left: 5%;
        padding-right: 5%;
    }
.next-move-col{
    padding: 15px;
}
    .main-heading h4{
        font-size: 42px;
    }
    .address{
        padding-left: 10%;
    }

    }


    @media screen and (max-width: 670px){
        
        .upr-section {
            height: 600px;
        }

        .mid-section i{
            display: none;
        }

        .logo-heading{
            padding-left: 15%;
        }

        h4{
            font-size: 48px;
        }

        .email input{
            width: 40%;
            margin: 0%;
        }
        .dropdown{
            width: 57%;
            padding-left: 0%;
            margin-right: 0%;
        }

        .second-section{
            height: auto;
            padding-bottom: 20px;
            padding-right: 0%;
        }
        .start-btn button{
            float: none;
            width: 200px;
            margin-top: 40px;
        }
        .start-btn{
            text-align: center;
            float: none;
        }
        
        .next-move-col{
            width: 50%;
        }
        
        .bottum-subscribe input{
            width: 60%;
        }
      
        .bottum-subscribe {
            padding-left: 10%;
        }

        footer{
            height: auto;
        }
        .footer-logo{
            width: 100%;
            text-align: center;
            padding-bottom: 50px;
        }
        .address{
            width: 50%;
            padding-left: 0%;
        }
    }



    
    @media screen and (max-width: 540px){
        
     .upr-section {
            height: auto;
            padding-bottom: 70px;
        }


        .logo-heading{
            padding-left: 10%; 
        }


        .email input{
            width: 98%;
            margin: 0%;
            margin-bottom: 20px;
        }
        .dropdown{
            width: 98%;
            padding-left: 0%;
            margin: 0%;
        }

        .second-section{
            height: auto;
            padding-bottom: 20px;
        }
     
        .telented-left-content{
            width: 100%;
        }
        .play-icon i{
            left: 33%;
        }
        .telented-right-img{
            width: 100%;
            padding-left: 0%;
        }
        .experience-left-img{
            width: 100%;
        }
        .experience-right-content{
            width: 100%;
            padding-top: 20px;
        }
        .invest-right-img{
            width: 100%;
            padding-left: 5%;
            padding-top: 50px;
        }

        .invest-left-content{
            width: 100%;
        }

        .academic-sub-heading{
            padding-left: 5%;
            padding-right: 5%;
        }

        .academic-left-content{
            width: 100%;
        }

        .academic-right-content{
            width: 100%;
        }
        .read-more-btn button{
            margin-left: 2%;
        }
        
        .subscribe-section{
            height: auto;
            padding-bottom: 20px;
        }
        .bottum-subscribe{
            padding-left: 0%;
        }

        .bottum-subscribe input{
            width: 95%;
            margin: 10px;
            margin-bottom: 40px;
         
        }
        .footer-logo{
            width: 100%;
            text-align: center;
            padding-bottom: 50px;
        }
        .address{
            float: none;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
        } 

        .footer-social-link {
            text-align: center;
            width: 100%;
            padding-top: 50px;
    }



    .join-team-btn{
        text-align: center;
    }
    .donate-btn{
        text-align: center;
        margin-top: 20px;
    }
    .donate-btn button{
        margin-top: 10px;
    }
    .read-more-btn button{
        margin-top: 0%;
    }
    .read-more-btn{
        text-align: center;
    }
    .subscribe-btn button{
        width: 95%;
        margin-left: 10px;
        border-radius: 10px;
    }
}

  
@media screen and (max-width: 411px){

    h4{
        font-size: 30px;
        line-height: 35px
    }
    .logo-heading{
        padding-left: 20px;
    }
}

@media screen and (max-width: 233px){
    .social-media-links i{
        padding: 2px;
    }
    .main-head {
        padding-left: 0%;
    }

    .logo-heading{
        padding: 0%;
    }
   .main-heading h4{
        font-size: 22px;
    }
    h4{
        font-size: 20px;
    }

    .second-section{
        padding-left: 2px;
    }
    .start-btn button{
        width: 90%;
    }
    .next-move-col{
        width: 100%;
    }
    .play-icon i{
        display: none;
    }
    .donate-btn button{
        width: 100%;
    }
    .experience-right-content{
        padding-left: 0%;
    }
    .invest-right-img{
        padding-left: 0%;
    }
    .join-team-btn button{
        width: 100%;
    }
    .read-more-btn button{
        width: 100%;
    }
    .subscribe-btn button{
        width: 100%;
        margin-left: 0%;
    }

    footer{
        padding-left: 0%;
    }
    .address{
        padding-left: 0%;
    }
} 









