@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #c2bfbf;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width:1920px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #017dfb;
  text-decoration: none;
}


/* Header SEction */

header {
  background: url(/html/assets/images/BG-image-header.png);
  
  background-repeat: no-repeat;
  background-size: cover;
  /* height: auto; */
}




.upr-nav {
  padding-top: 90px;
  padding-left: 8%;
  padding-right: 10%;
}
.Atis-logo {
  float: left;
  margin-top: 10px;
  padding-left: 35px;
}
.uper-navigation ul {
  float: right;
}
.uper-navigation li {
  display: inline;
}
.uper-navigation ul li a {
  color: #c2bfbf;
  font-weight: bold;
  padding: 10px 25px;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 50px;
  height: 180px;
  width: 300px;
  transition: 0.5s ease;
}
.uper-navigation ul li a:hover {
  color: #017dfb;
  box-shadow: 10px 20px 90px #a4c3e2;
  border: 1px solid white;
}
.center-logo {
  text-align: center;
  margin-top: 230px;
}
.welcome-to-heaven h4 {
  padding-top: 18px;
  color: #017dfb;
  letter-spacing: 5px;
}
.welcome-to-heaven button {
  color: #017dfb;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  border: transparent;
  width: 180px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}
.welcome-to-heaven button:hover {
  background-color: #017dfb;
  color: white;
}



/*Bottum Navigation  */

.bottum-navigation {
  background-color: #017dfb;
  height: 150px;
  margin-top: 314px;
  max-width: 1920px;
  /* margin-left: 15px; */
}

.bottum-navigation ul {
  padding-left: 15px;
  padding-top: 50px;
}

.bottum-navigation ul li {
  display: inline;
}
.bottum-navigation input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  padding-bottom: 20px;
  background-color: transparent;
  padding-left: 0px;
  font-weight: bold;
  padding-left: 25px;
  width: 12%;
}
::placeholder {
  color: white;
  opacity: 1;
}

.input:focus {
  outline: none;
}
.bottum-navigation i {
  color: slategrey;
  position: relative;
  left: 15px;
}
.serachbarar input {
  background-color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.serachbarar i {
  position: relative;
  left: 35px;
  top: 10px;
}

.heading-popular-places {
  
  padding-top: 65px;
  text-align: center;
  
  background-color: #f9f9f9;
}
.heading-popular-places h5 {
  letter-spacing: 5px;
  word-spacing: 20px;
  padding-bottom: 68px;
  margin: 0px;
}

.col1 {
  float: left;
  width: 28%;
 
}

.col2 {
  position: relative;
  float: left;
  background: url(/html/assets/images/Crete.png);
  width: 40%;
  height: 435px;
  /* height: auto; */
  display: block;
  cursor: pointer;
  margin-left: 2%;
}

.col3{
  float: right;
  width: 28%;
  /* height: 440px; */

}
.col2 button {
  border-radius: 50px;
  height: 30px;
  border: 1px solid #017dfb;
  background: transparent;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.col2 h1 {
  padding-left: 50px;
  font-size: 60px;
 
}
.col1-img2 img {
  margin-top: 40px;
}
.col3-img2 img {
  margin-top: 40px;
}




/* hover-transform */


.col1-img1:hover h1{
  transform: translate(175px,-95px);
  transition: 0.9s ease-in-out
}
.col1-img2:hover h1{
  transform: translate(175px,-95px);
  transition: 0.9s ease-in-out;
}
.col2:hover .hoverD{
  transform: translate(30%,80%);
  transition: 0.9s ease-in-out;
}
.col3-img1:hover h1{
  transform: translate(175px,-95px);
  transition: 0.9s ease-in-out;
}
.col3-img2:hover h1{
  transform: translate(175px,-95px);
  transition: 0.9s ease-in-out;
}


.popular-places-row2 :hover h1{
  transform: translate(425px,-150px);
  transition: 0.9s ease-in-out;
}

.popular-places img:hover {
  filter: sepia(100%) hue-rotate(190deg) saturate(400%);  
  /* background-image: linear-gradient(0deg, #0703fa transparent); */
  cursor: pointer;
}


/* end hover transform */

h1 {
  color: white;
  font-weight: bold;
  margin: 0px;
}
.col1 h1 {
  margin-top: -70px;
  padding-left: 15px;
}

.col3 h1 {
  margin-top: -70px;
  padding-left: 15px;
}
.popular-places-row1 {
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
}
.row2-img1 {
  display: inline-block;
  width: 49%;
}
.row2-img2 {
  float: right;
  width: 49%;
}

.popular-places-row2 {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.popular-places-row2 h1 {
  position: relative;
  bottom: 70px;
  left: 20px;
}

/* Popular Hotels CSS */

.heading-popular-hotels {
  text-align: center;
  padding-top: 50px;
  background-color: #f9f9f9;
}
.hotels {
  padding-left: 10%;
}
.heading-popular-hotels h5 {
  letter-spacing: 5px;
  word-spacing: 20px;
  padding-bottom: 68px;
  margin: 0px;
}
.hotel-col1 {
  float: left;
  width: 21%;
  padding-bottom: 30px;
  margin-top: 30px;
  margin: 5px;
}
.hotel-col2 {
  float: left;
  width: 21%;
  padding-bottom: 30px;
  margin-top: 30px;
  margin: 5px;
}

.rating {
  float: left;
  margin-left: 15px;
  cursor: pointer;
}
.rating i {
  padding: 1px;
}
.rating i:hover {
  color: #f90;
}

.hotel-txt h6 {
  float: right;
  font-size: 30px;
  margin: 0px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding-right: 15px;
}
.hotel-txt p {
  font-weight: bold;
  padding-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.hotel-txt span {
  float: right;
  position: relative;
  padding-right: 15px;
}
.btn {
  position: absolute;
  font-weight: bold;
  background: white;
  color: #017dfb;
  border: 1px solid #017dfb;
  border-radius: 50px;
  height: 35px;
  width: 150px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}

.btn:hover {
  background-color: #017dfb;
  color: white;
}

.hotel-txt {
  background-color: #ffffff;
}

.hotel-col1 {
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
}

.hotel-col1:hover {
  box-shadow: 0 8px 16px 0 #c2bfbf;
}

.hotel-col2 {
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
}

.hotel-col2:hover {
  box-shadow: 0 8px 16px 0 #c2bfbf;
}


.slider-txt {
  background: url(/html/assets/images/slider.png);
  background-repeat: no-repeat;
  padding-top: 100px;
  text-align: center;
  /* margin-left: 15px; */
  height: 1090px;
  padding-top: 50px;
}
.slilder-btn {
  text-align: center;
  padding-bottom: 100px;
}
.view-all-btn {
  text-align: center;
  height: 50px;
  width: 200px;
  color: #c2bfbf;
  border-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s ease;
}

.view-all-btn:hover {
  background-color: white;
  color: #017dfb;
  border: 1px solid#017dfb;
}
.slider {
  padding-top: 70px;
}
.slider img {
  padding-bottom: 20px;
}

.slider h5 {
  color: white;
  margin-top: 0px;
  font-size: 70px;
  margin-bottom: 0px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
.slider-para p {
  color: white;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
}
.slider-para {
  padding-top: 200px;
  text-align: center;
}
.footerPara {
  text-align: center;
}
.slider-para img {
  padding-top: 0px;
  margin-top: 0px;
}
footer {
  text-align: center;
  background-color: #f9f9f9;
  padding-top: 85px;
  padding-bottom: 100px;
  color: #c2bfbf;
  font-weight: bold;
}





/* Media Query */


/* 

Mobile: 360 x 640
Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080       


*/



@media(max-width : 1366px){

  
header {
  background: url(/html/assets/images/BG-image-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: auto; */
  height: 100%;
}


.upr-nav {
  padding-top: 90px;
  padding-left: 8%;
  padding-right: 10%;
}
.uper-navigation ul li a {
  color: #c2bfbf;
  font-weight: bold;
  padding: 10px 5px;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 50px;
  height: 180px;
  width: 100px;
  transition: 0.5s ease;
}



.bottum-navigation input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  padding-bottom: 20px;
  background-color: transparent;
  padding-left: 0px;
  font-weight: bold;
  padding-left: 25px;
  width: 11%;
}

.bottum-navigation i {
  color: slategrey;
  position: relative;
  left: 15px;
}
.serachbarar input {
  background-color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.serachbarar i {
  position: relative;
  left: 35px;
  top: 10px;
}

.heading-popular-places {
  
  padding-top: 65px;
  text-align: center;
  
  background-color: #f9f9f9;
}


.col1 {
  float: left;
  width: 28%;
 
}

.col2 {
  position: relative;
  float: left;
  background: url(/html/assets/images/Crete.png);
  width: 40%;
  height: 380px;
  /* height: auto; */
  display: block;
  cursor: pointer;
  margin-left: 2%;
}

.col3{
  float: right;
  width: 28%;

}




/* hover-transform */


.col1-img1:hover h1{
  transform: translate(80px,-50px);
  transition: 0.9s ease-in-out
}
.col1-img2:hover h1{
  transform: translate(80px,-50px);
  transition: 0.9s ease-in-out
}
.col2:hover .hoverD{
  transform: translate(30%,80%);
  transition: 0.9s ease-in-out;
}
.col3-img1:hover h1{
  transform: translate(80px,-50px);
  transition: 0.9s ease-in-out
}
.col3-img2:hover h1{
  transform: translate(80px,-50px);
  transition: 0.9s ease-in-out
}


.popular-places-row2 :hover h1{
  transform: translate(250px,-125px);
  transition: 0.9s ease-in-out;
}



/* end hover transform */





h1 {
  color: white;
  font-weight: bold;
  margin: 0px;
}
.col1 h1 {
  margin-top: -70px;
  padding-left: 15px;
}

.col3 h1 {
  margin-top: -70px;
  padding-left: 15px;
}
.popular-places-row1 {
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
}
.row2-img1 {
  display: inline-block;
  width: 49%;
}
.row2-img2 {
  float: right;
  width: 49%;
}

.popular-places-row2 {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.popular-places-row2 h1 {
  position: relative;
  bottom: 70px;
  left: 20px;
}

/* Popular Hotels CSS */

.heading-popular-hotels {
  text-align: center;
  padding-top: 50px;
  background-color: #f9f9f9;
}
.hotels {
  padding-left: 10%;
}
.heading-popular-hotels h5 {
  letter-spacing: 5px;
  word-spacing: 20px;
  padding-bottom: 68px;
  margin: 0px;
}
.hotel-col1 {
  width: 22%;
  padding-bottom: 30px;
  margin-top: 30px;
}
.hotel-col2 {
  width: 22%;
  padding-bottom: 30px;
  margin-top: 30px;
}

.rating {
  float: left;
  margin-left: 15px;
  cursor: pointer;
}
.hotels p {
  font-weight: bold;
  padding-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.clear span {
  float: right;
  position: relative;
  padding-right: 5px;
}
.btn {
  position: absolute;
  font-weight: bold;
  background: white;
  color: #017dfb;
  border: 1px solid #017dfb;
  border-radius: 50px;
  height: 35px;
  width: 12%;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.5s ease;
  margin-left: -3%;
}

.btn:hover {
  background-color: #017dfb;
  color: white;
}

.hotel-txt {
  background-color: #ffffff;
}

.hotel-col1 {
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
}

.hotel-col1:hover {
  box-shadow: 0 8px 16px 0 #c2bfbf;
}
.hotel-col2 {
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
}

.hotel-col2:hover {
  box-shadow: 0 8px 16px 0 #c2bfbf;
}
.slider-txt {
  background: url(/html/assets/images/slider.png);
  background-repeat: no-repeat;
  padding-top: 100px;
  text-align: center;
  /* margin-left: 15px; */
  height: 800px;
}
.slilder-btn {
  text-align: center;
  padding-bottom: 100px;
}
.view-all-btn {
  text-align: center;
  height: 50px;
  width: 200px;
  color: #c2bfbf;
  border-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s ease;
}

.view-all-btn:hover {
  background-color: white;
  color: #017dfb;
  border: 1px solid#017dfb;
}
.slider {
  padding-top: 70px;
}
.slider img {
  padding-bottom: 20px;
}

.slider h5 {
  color: white;
  margin-top: 0px;
  font-size: 70px;
  margin-bottom: 0px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
.slider-para p {
  color: white;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
}
.slider-para {
  padding-top: 200px;
  text-align: center;
}
.footerPara {
  text-align: center;
}
.slider-para img {
  padding-top: 0px;
  margin-top: 0px;
}
footer {
  text-align: center;
  background-color: #f9f9f9;
  padding-top: 85px;
  padding-bottom: 100px;
  color: #c2bfbf;
  font-weight: bold;
}


}



@media(max-width : 1024px){

  
  header {
    background: url(/html/assets/images/BG-image-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: auto; */
    height: 20%;
  }
  
  

.center-logo img{
  width: 50%;
}
  
  
  .upr-nav {
    padding-top: 90px;
    padding-left: 8%;
    padding-right: 5%;
  }
  .uper-navigation ul li a {
    color: #c2bfbf;
    font-weight: bold;
    padding: 10px 5px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 50px;
    height: 180px;
    width: 10%;
    transition: 0.5s ease;
  }
  
  
  
  .bottum-navigation input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    padding-bottom: 20px;
    background-color: transparent;
    padding-left: 0px;
    font-weight: bold;
    padding-left: 25px;
    width: 10%;
  }
  .bottum-navigation i {
    
    position: relative;
    left: 15px;
  }
  .serachbarar input {
    background-color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .serachbarar i {
    position: relative;
    left: 35px;
    top: 10px;
  }
  
  .heading-popular-places {
    
    padding-top: 65px;
    text-align: center;
    
    background-color: #f9f9f9;
  }
  
  
  .col1 {
    float: left;
    width: 28%;
    height: 100%;
   
  }
  
  .col2 {
    position: relative;
    float: left;
    background: url(/html/assets/images/Crete.png);
    width: 40%;
    height: 280px;
    /* height: auto; */
    display: block;
    cursor: pointer;
    margin-left: 2%;
  }
  
  .col3{
    float: right;
    width: 28%;
    height: 100%;
  
  }
  .col2 button {
    border-radius: 50px;
    height: 30px;
    border: 1px solid #017dfb;
    background: transparent;
    color: white;
    cursor: pointer;
    padding: 5px;
  }
  
  .col1-img2 img {
    margin-top: 40px;
  }
  .col3-img2 img {
    margin-top: 40px;
  }
  
  
  
.col1-img1:hover h1{
  transform: translate(80px,-30px);
  transition: 0.9s ease-in-out;
}
.col1-img2:hover h1{
  transform: translate(80px,-30px);
  transition: 0.9s ease-in-out;
}
.col2:hover .hoverD{
  transform: translate(30%,80%);
  transition: 0.9s ease-in-out;
}
.col3-img1:hover h1{
  transform: translate(80px,-30px);
  transition: 0.9s ease-in-out;
}
.col3-img2:hover h1{
  transform: translate(80px,-30px);
  transition: 0.9s ease-in-out;
}


.popular-places-row2 :hover h1{
  transform: translate(250px,-125px);
  transition: 0.9s ease-in-out;
}

  
  
  
  
  /* end hover transform */
  
  h1 {
    color: white;
    font-weight: bold;
    margin: 0px;
  }
  .col1 h1 {
    margin-top: -70px;
    padding-left: 15px;
    font-size: 25px;
  }

  .col2 h1 {
    padding-left: 50px;
    font-size: 40px;
   
  }
  .col3 h1 {
    margin-top: -70px;
    padding-left: 15px;
    font-size: 25px;
  }
  .popular-places-row1 {
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
  }
  .row2-img1 {
    display: inline-block;
    width: 49%;
  }
  .row2-img2 {
    float: right;
    width: 49%;
  }
  
  .popular-places-row2 {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .popular-places-row2 h1 {
    position: relative;
    bottom: 70px;
    left: 20px;
  }
  
  /* Popular Hotels CSS */
  
  .heading-popular-hotels {
    text-align: center;
    padding-top: 50px;
    background-color: #f9f9f9;
  }
  .hotels {
    padding-left: 5%;
  }
  
  .hotel-col1 {
    float: left;
    width: 22%;
    padding-bottom: 30px;
    margin-top: 30px;
  }
  .hotel-col2{
    float: left;
    width: 22%;
    padding-bottom: 30px;
    margin-top: 30px;
  }
  
  .hotel-txt h6{
    font-size: 20px;
    margin-right: 0px;
    padding-right: 0px;
    
  }
  .rating{
    padding: 0px;
    margin: 0px;
  }
  .btn {
    position: absolute;
    font-weight: bold;
    background: white;
    color: #017dfb;
    border: 1px solid #017dfb;
    border-radius: 50px;
    height: 35px;
    width: 12%;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s ease;
    margin-left: -2%;
  }
  
  .slider-txt {
    background: url(/html/assets/images/slider.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    text-align: center;
    /* margin-left: 15px; */
    height: 550px;
  }
  .slilder-btn {
    text-align: center;
    padding-bottom: 80px;
  }
  .view-all-btn {
    text-align: center;
    height: 50px;
    width: 200px;
    color: #c2bfbf;
    border-color: transparent;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s ease;
  }
  
  .view-all-btn:hover {
    background-color: white;
    color: #017dfb;
    border: 1px solid#017dfb;
  }
  .slider {
    padding-top: 70px;
  }
  .slider img {
    padding-bottom: 20px;
  }
  
  .slider h5 {
    color: white;
    margin-top: 0px;
    font-size: 40px;

  }
  .slider-para p {
    color: white;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
  }
  .slider-para {
    padding-top: 50px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footerPara {
    text-align: center;
  }
  .slider-para img {
    width: 20%;
  }
  footer {
    text-align: center;
    background-color: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 60px;
    color: #c2bfbf;
    font-weight: bold;
  }


  
  }


@media(max-width : 768px){

  
  header {
    background: url(/html/assets/images/BG-image-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: auto; */
    height: 20%;
  }
  
  
  
  
  .upr-nav {
    padding-top: 90px;
    padding-left: 8%;
    padding-right: 5%;
  }
  .uper-navigation ul li a {
    color: #c2bfbf;
    font-weight: bold;
    padding: 10px 5px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 50px;
    height: 180px;
    width: 10%;
    transition: 0.5s ease;
  }
  
  
  .bottum-navigation input {
    padding-bottom: 20px;
    background-color: transparent;
    padding-left: 0px;
    font-size: 25px;
    padding-left: 25px;
    width: 80%;
    display: block;
    margin-left: 10%;
    padding-top: 40px;
    margin-top: 20px;
    
  }
  .bottum-navigation {
    background-color: #017dfb;
    height: auto;
    margin-top: 314px;
    max-width: 1920px;
    margin-left: 0px;
    padding-bottom: 30px;

  }
  
  .bottum-navigation i {
    
    position: relative;
    left: 5%;
    top:100px;
    font-size: 40px;
  }
  .serachbarar input {
    background-color: white;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
  .serachbarar i {
    position: relative;
    left: 13%;
    top: 75px;
  
  }
  
  .heading-popular-places {
    
    padding-top: 65px;
    text-align: center;
    
    background-color: #f9f9f9;
  }
  
  
  .col1 {
    float: left;
    width: 90%;
    margin-bottom: 80px;
    margin-left: 5%;
 
  }
  
  .col2 {
    position: relative;
    float: left;
    background: url(/html/assets/images/Crete.png);
    width: 90%;
    height: 450px;
    display: block;
    cursor: pointer;
    margin-left: 3%;
  }
 
  .col3{
    float: right;
    width: 90%;
    margin-top: 50px;
    margin-right: 5%;
  
  }
  
  
  .col2 button {
    border-radius: 50px;
    height: 25px;
    border: 1px solid #017dfb;
    background: transparent;
    color: white;
    cursor: pointer;
    padding: 5px;
  }
  
  .col1-img2 img {
    margin-top: 40px;
  }
  .col3-img2 img {
    margin-top: 40px;
  }
  
  
  
.col1-img1:hover h1{
  transform: translate(80px,-30px);
  transition: 0.9s ease-in-out;
 
}
.col1-img2:hover h1{
  transform: translate(80px,-30px);
  transition: 0.9s ease-in-out;
 
}
.col2:hover .hoverD{
  transform: translate(10%,50%);
  transition: 0.9s ease-in-out;
 
}
.col3-img1:hover h1{
  transform: translate(80px,-30px);
  transition: 0.9s ease-in-out;
 
}
.col3-img2:hover h1{
  transform: translate(80px,-30px);
  transition: 0.9s ease-in-out;
 
}


.popular-places-row2 :hover h1{
  transform: translate(250px,-125px);
  transition: 0.9s ease-in-out;
  transform: none;
}

  
  /* end hover transform */
  
  h1 {
    color: white;
    font-weight: bold;
    margin: 0px;
  }
  .col1 h1 {
    margin-top: -70px;
    padding-left: 15px;
    font-size: 25px;
  }

  .col2 h1 {
    padding-left: 50px;
    font-size: 40px;
   
  }
  .col3 h1 {
    margin-top: -70px;
    padding-left: 15px;
    font-size: 25px;
  }
  .popular-places-row1 {
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    overflow: hidden;
  }
  .row2-img1 {
    display: inline-block;
    width: 49%;
  }
  .row2-img2 {
    float: right;
    width: 49%;
  }
  
  .popular-places-row2 {
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
  }
  
  .popular-places-row2 h1 {
    position: relative;
    bottom: 70px;
    left: 20px;
  }
  
  /* Popular Hotels CSS */
  
  .heading-popular-hotels {
    text-align: center;
    padding-top: 50px;
    background-color: #f9f9f9;
  }
  .hotels {
    padding-left: 5%;
  }
  .heading-popular-hotels h5 {
    letter-spacing: 5px;
    word-spacing: 20px;
    padding-bottom: 68px;
    margin: 0px;
  }
  .hotel-col1 {
    float: left;
    width: 40%;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-left: 5%;
  }
  .hotel-col2 {
    float: left;
    width: 40%;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-left: 5%;
  }
  .btn{
    width: 20%;
    margin-left: 0%;
  }
  .hotel-txt h6{
    font-size: 20px;
    
  }
  .hotel-txt p{
    font-size: 16px;
  }
  .hotel-txt span{
    font-size: 16px;
  }
  .rating{
    margin-left: 0px;
  }
  .slider-txt {
    background: url(/html/assets/images/slider.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    text-align: center;
    height: 550px;
  }
  .slilder-btn {
    text-align: center;
    padding-bottom: 80px;
  }
  .view-all-btn {
    text-align: center;
    height: 50px;
    width: 200px;
    color: #c2bfbf;
    border-color: transparent;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s ease;
  }
  
  .view-all-btn:hover {
    background-color: white;
    color: #017dfb;
    border: 1px solid#017dfb;
  }
  .slider {
    padding-top: 70px;
  }
  .slider img {
    padding-bottom: 20px;
  }
  
  .slider h5 {
    color: white;
    margin-top: 0px;
    font-size: 40px;

  }
  .slider-para p {
    color: white;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
  }
  .slider-para {
    padding-top: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footerPara {
    text-align: center;
  }
  .slider-para img {
    width: 20%;
  }
  footer {
    text-align: center;
    background-color: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #c2bfbf;
    font-weight: bold;
  }

  


  
  


  
  }





@media(max-width : 411px){

  
  header {
    background: url(/html/assets/images/BG-image-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: auto; */
    height: 20%;
  }
  

  
  .bottum-navigation i {
    
    position: relative;
    left: 5%;
    top:100px;
    font-size: 30px;
  }
  
  .serachbarar i {
    position: relative;
    left: 16%;
    top: 75px;
  
  }
  
  
  
  /* end hover transform */
  
  
  .popular-places-row2 {
    margin-top: 30px;
  }
  
  .popular-places-row2 h1 {
    position: relative;
    bottom: 70px;
    left: 20px;
    font-size: 20px;
  }
  
  /* Popular Hotels CSS */
  
  .heading-popular-hotels {
    text-align: center;
    padding-top: 50px;
    background-color: #f9f9f9;
  }
  .hotels {
    padding-left: 5%;
  }
  .heading-popular-hotels h5 {
    letter-spacing: 5px;
    word-spacing: 20px;
    padding-bottom: 68px;
    margin: 0px;
  }
  .hotel-col1 {
    float: left;
    width: 40%;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-left: 5%;
  }
  .hotel-col2 {
    float: left;
    width: 40%;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-left: 5%;
  }
  .btn{
    width: 26%;
    height: 30px;
    margin-left: -10%;
  }
  .hotel-txt h6{
    font-size: 20px;
    margin-right: 0px;
    padding-right: 0px;
    
  }
  .hotel-txt p{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    margin-top: -20px;
  }
  .hotel-txt span{
    font-size: 16px;
    padding-right: 0px;
  }
  
  .slider-txt {
    background: url(/html/assets/images/slider.png);
    background-repeat: no-repeat;
    padding-top: 70px;
    text-align: center;
    height: 600px;
  }
  .slilder-btn {
    text-align: center;
    padding-bottom: 80px;
  }
  .slider {
    padding-top: 70px;
  }
  .slider img {
    padding-bottom: 20px;
  }
  
  .slider h5 {
    color: white;
    margin-top: 0px;
    font-size: 40px;

  }
  .slider-para p {
    color: white;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
  }
  .slider-para {
    padding-top: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footerPara {
    text-align: center;
  }
  .slider-para img {
    width: 40%;
  }
  footer {
    text-align: center;
    background-color: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #c2bfbf;
    font-weight: bold;
  }

  


  
  


  
  }


















  /* For Menu Bar */

  
button{
  border:1px solid gray;
  background-color: transparent;
  display: inline-block;
}

.show{
  display: inline-block;
}
.right{
  float:right;
  margin-top: 10px;
}


@media only screen and (max-width: 910px) {
  .hide-lg{
    display:inline-block;
  }
 .uper-navigation ul{
    display: none;
  }
  .col2{
    height: 230px;
  }
  
  
  
}

@media only screen and (min-width: 910px) {
  .hide-lg{
    display: none !important;
  }
  .uper-navigation>ul{
    display: block;
  }
  .uper-navigation>ul>li {
    /* bar layout */
    display: inline-block;
  }
  .uper-navigation>ul>li>a{
    display: block;
    width:100%;
    height: 100%;
  }
}


/* Menu Bar End Here */
