@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,200;1,300&family=Roboto&family=Roboto+Slab&display=swap');
* {
    box-sizing: border-box;
   
}
h4{
    font-size: 22px;
    margin-top: 0px;
    letter-spacing: 2px;
    font-family: 'Roboto Slab', serif; 
}
h6{
    font-size: 18px;
    font-family: 'Roboto Slab', serif; 
    margin-bottom: 20px;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;

}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.container,
.wrapper {
    max-width: 1600px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

a {
    color: #017dfb;
    text-decoration: none;
}

/* Header Section */
header{
    background: url(/html/assets/images/bg.png);
    background-repeat: no-repeat;
}
.headphone img{
    float: left;
}
.navbar div{
    display: inline;
}
.nav-item ul li{
    display: inline;
    margin-right: 18px;
    
}
.nav-item ul li:hover{
    font-size: 16px;
    font-family: 'Roboto Slab', serif; 
}
.navbar ul {
float: right;
margin-right: 150px;


}
.navbar img,ul{
    margin-top: 40px;
}
.nav-item ul li{
    color: white;
    font-weight: bold;
    font-size: small;
    cursor: pointer;

}
.navbar img{
    margin-left: 40px;
}
/* .navbar{
    padding-left: 260px;
} */
.btn button{
    background-color: #4aa2e5;
    border: white;
    color: white;
    font-weight: bold;
    font-size: small;
    width: 75px;
    height: 25px;
    cursor: pointer;
    
}
.btn button:hover{
    background-color:white;
    color: #017dfb;
    border-radius: 20px;
}
hr{
    
    margin-right: 0px;
    width: 860px;
    margin-left: 250px;

}
.head-content {
    float: left;
    width: 35%;
    padding: 5px;
    width: 330px;

  }
  
  .head::after {
    content: "";
    clear: both;
    display: table;
  }
  .head {
      margin-top: 130px;
      margin-left: 150px;
  }
  .head-content {
    margin-left: 80px;

  }
  .head-content h2{
      margin-top: 100px;
      font-size:24px;
      font-weight: lighter;
      font-family: 'Roboto Slab', serif; 
      color: white;
  }
  
  .head-content p{
    width: 320px;
    color: white;
    
  }
  
.earphones img{
    float: right;
    margin-top: 220px;
}
.pencil img{
    margin-top: -180px;
}
#google-btn{
    color: black;
    border: white;
    border-radius: 8px;
    height: 46px;
    width: 150px;
    cursor: pointer;
    margin-top: 60px;  
}
#google-btn:hover{
    background-color: #4aa2e5;
}
#learn-more-btn:hover{
    background-color: white;
    color: #4aa2e5;
}
#learn-more-btn{
    background-color: #4aa2e5;
    border: white;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    height: 46px;
    width: 150px;
    cursor: pointer;
    margin-left: 10px;
}

/* Service Section */
.services{
    margin-top: 70px;
}
.service-heading{
    text-align: center;
}
.service-heading b{
    font-size: 18px;
    color: gray;
    font-family: 'Roboto Slab', serif; 
}


hr.new1 {
    width: 50px;
    text-align: center;
    margin-left: 600px;
    border: 1px solid #017dfb;
    margin-top: 0px;
  }
.my-service::after{
    content: "";
    clear: both;
    display: table;

}
.my-service{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
}
.service-col{
    width: 25%;
    float: left;
    padding: 20px;
    text-align: center;
    margin-left: 80px;
   
}
.web-service p{
    margin-top:0px;
    font-size: 12px;
}


/* Features */

.features {
    float: left;
    width: 50%;
    padding: 5px;
    margin-top: 150px;

  }
  
  .my-features::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .feature-content{
      margin-left: 50px;
      margin-top: 20px;

      
  }
  .feature-content h4{
      margin-top: 10px;
}

.feature-content  ul {
    list-style: none;
  }
.feature-content  ul li{
    font-size: 14px;
    margin: 5px;
  }
  
 .feature-content ul li::before {
    content: "\2022";
    color: #017dfb;
    font-weight:bolder;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  #Read-more-btn{
    background-color:#66d4f4;
    border: white;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    height: 46px;
    width: 150px;
    cursor: pointer;
    margin-top: 20px;
  }
  #Read-more-btn:hover{
      opacity: .5;
  }
